@use '../abstracts/breakpoints';
@use '../abstracts/mixins';

$grid-columns: 12;

.grid {
  display: grid;
}

@each $key, $value in breakpoints.$breakpoints {
  @include mixins.breakpoint($key) {
    @for $i from 1 through $grid-columns {
      .rows-#{$i}-#{$key} {
        grid-template-rows: repeat($i, 1fr);
      }

      .cols-#{$i}-#{$key} {
        grid-template-columns: repeat($i, 1fr);
      }

      .row-#{$i}-#{$key} {
        grid-row: span $i;
      }

      .col-#{$i}-#{$key} {
        grid-column: span $i;
      }
    }
  }
}