$font-stack: "Outfit", sans-serif !default;

// FONT SIZES
$font-sizes: (
  "property": "font-size",
  "prefix": "font-size",
  "breakpoints": (
    (
      "breakpoint": "xs",
      "values": (
        "400": 0.9375rem,
        "600": 1.375rem
      )
    ),
    (
      "breakpoint": "sm",
      "values": (
        "400": 0.9375rem,
        "600": 1.375rem,
      )
    ),
    (
      "breakpoint": "md",
      "values": (
        "400": 0.9375rem,
        "600": 1.375rem,
      )
    )
  ),
) !default;


// TYPE PROPERTIES (font weights, letter spacings, etc)
$type-properties: (
  (
    "property": "font-weight",
    "prefix": "font-weight",
    "values": (
      "400": 400,
      "700": 700,  
    )
  ),
  (
    "property": "letter-spacing",
    "prefix": "letter-spacing",
    "values": (
      "0": 0px,
      "1": 0.0125rem,  
    )
  ),
  (
    "property": "line-height",
    "prefix": "line-height",
    "values": (
      "normal": normal,
      "120": 120%,
      "140": 140%
    )
  )
) !default;