:root {
  --color-primary-red: hsl(0, 100%, 50%);
  --color-primary-green: hsl(120, 100%, 25%);
  --color-primary-blue: hsl(240, 100%, 50%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-black: hsl(0, 0%, 0%);
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --letter-spacing-0: 0px;
  --letter-spacing-1: 0.0625rem;
  --letter-spacing-2: 0.125rem;
  --letter-spacing-4: 0.25rem;
  --line-height-normal: normal;
  --line-height-100: 100%;
  --line-height-150: 150%;
  --line-height-175: 175%;
  --line-height-200: 200%;
  --spacer-50: 0.25rem;
  --spacer-100: 0.5rem;
  --spacer-150: 0.75rem;
  --spacer-200: 1rem;
  --spacer-300: 1.5rem;
  --font-size-400: 0.9rem;
}
@media screen and (min-width: 30rem) {
  :root {
    --font-size-400: 0.95rem;
  }
}
@media screen and (min-width: 45rem) {
  :root {
    --font-size-400: 1rem;
  }
}
@media screen and (min-width: 60rem) {
  :root {
    --font-size-400: 1.05rem;
  }
}
@media screen and (min-width: 75rem) {
  :root {
    --font-size-400: 1.1rem;
  }
}

/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a, button {
  cursor: revert;
}

ol, ul, menu, summary {
  list-style: none;
}

ol {
  counter-reset: revert;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

* {
  font-family: sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

h1 {
  font-family: sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

h2 {
  font-family: sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

h3 {
  font-family: sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

h4 {
  font-family: sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

h5 {
  font-family: sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

h6 {
  font-family: sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

p,
li,
label,
td {
  font-family: sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

b,
strong,
th {
  font-family: sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

.container {
  margin: 0 auto;
  padding: 0 var(--spacer-200);
  width: min(100% - var(--spacer-200), 45rem);
}

.flex {
  display: flex;
}

@media screen and (min-width: 0) {
  .flex-direction-xs-row {
    flex-direction: row;
  }
  .flex-direction-xs-column {
    flex-direction: column;
  }
  .flex-direction-xs-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-direction-xs-column-reverse {
    flex-direction: column-reverse;
  }
  .flex-wrap-xs-wrap {
    flex-wrap: wrap;
  }
  .flex-wrap-xs-nowrap {
    flex-wrap: nowrap;
  }
  .flex-wrap-xs-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .justify-content-xs-flex-start {
    justify-content: flex-start;
  }
  .justify-content-xs-center {
    justify-content: center;
  }
  .justify-content-xs-flex-end {
    justify-content: flex-end;
  }
  .justify-content-xs-space-between {
    justify-content: space-between;
  }
  .justify-content-xs-space-around {
    justify-content: space-around;
  }
  .justify-content-xs-space-evenly {
    justify-content: space-evenly;
  }
  .align-items-xs-flex-start {
    align-items: flex-start;
  }
  .align-items-xs-center {
    align-items: center;
  }
  .align-items-xs-flex-end {
    align-items: flex-end;
  }
  .align-items-xs-stretch {
    align-items: stretch;
  }
  .align-items-xs-baseline {
    align-items: baseline;
  }
  .align-content-xs-flex-start {
    align-content: flex-start;
  }
  .align-content-xs-center {
    align-content: center;
  }
  .align-content-xs-flex-end {
    align-content: flex-end;
  }
  .align-content-xs-space-between {
    align-content: space-between;
  }
  .align-content-xs-space-around {
    align-content: space-around;
  }
  .align-content-xs-space-evenly {
    align-content: space-evenly;
  }
}
@media screen and (min-width: 30rem) {
  .flex-direction-sm-row {
    flex-direction: row;
  }
  .flex-direction-sm-column {
    flex-direction: column;
  }
  .flex-direction-sm-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-direction-sm-column-reverse {
    flex-direction: column-reverse;
  }
  .flex-wrap-sm-wrap {
    flex-wrap: wrap;
  }
  .flex-wrap-sm-nowrap {
    flex-wrap: nowrap;
  }
  .flex-wrap-sm-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .justify-content-sm-flex-start {
    justify-content: flex-start;
  }
  .justify-content-sm-center {
    justify-content: center;
  }
  .justify-content-sm-flex-end {
    justify-content: flex-end;
  }
  .justify-content-sm-space-between {
    justify-content: space-between;
  }
  .justify-content-sm-space-around {
    justify-content: space-around;
  }
  .justify-content-sm-space-evenly {
    justify-content: space-evenly;
  }
  .align-items-sm-flex-start {
    align-items: flex-start;
  }
  .align-items-sm-center {
    align-items: center;
  }
  .align-items-sm-flex-end {
    align-items: flex-end;
  }
  .align-items-sm-stretch {
    align-items: stretch;
  }
  .align-items-sm-baseline {
    align-items: baseline;
  }
  .align-content-sm-flex-start {
    align-content: flex-start;
  }
  .align-content-sm-center {
    align-content: center;
  }
  .align-content-sm-flex-end {
    align-content: flex-end;
  }
  .align-content-sm-space-between {
    align-content: space-between;
  }
  .align-content-sm-space-around {
    align-content: space-around;
  }
  .align-content-sm-space-evenly {
    align-content: space-evenly;
  }
}
@media screen and (min-width: 45rem) {
  .flex-direction-md-row {
    flex-direction: row;
  }
  .flex-direction-md-column {
    flex-direction: column;
  }
  .flex-direction-md-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-direction-md-column-reverse {
    flex-direction: column-reverse;
  }
  .flex-wrap-md-wrap {
    flex-wrap: wrap;
  }
  .flex-wrap-md-nowrap {
    flex-wrap: nowrap;
  }
  .flex-wrap-md-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .justify-content-md-flex-start {
    justify-content: flex-start;
  }
  .justify-content-md-center {
    justify-content: center;
  }
  .justify-content-md-flex-end {
    justify-content: flex-end;
  }
  .justify-content-md-space-between {
    justify-content: space-between;
  }
  .justify-content-md-space-around {
    justify-content: space-around;
  }
  .justify-content-md-space-evenly {
    justify-content: space-evenly;
  }
  .align-items-md-flex-start {
    align-items: flex-start;
  }
  .align-items-md-center {
    align-items: center;
  }
  .align-items-md-flex-end {
    align-items: flex-end;
  }
  .align-items-md-stretch {
    align-items: stretch;
  }
  .align-items-md-baseline {
    align-items: baseline;
  }
  .align-content-md-flex-start {
    align-content: flex-start;
  }
  .align-content-md-center {
    align-content: center;
  }
  .align-content-md-flex-end {
    align-content: flex-end;
  }
  .align-content-md-space-between {
    align-content: space-between;
  }
  .align-content-md-space-around {
    align-content: space-around;
  }
  .align-content-md-space-evenly {
    align-content: space-evenly;
  }
}
@media screen and (min-width: 60rem) {
  .flex-direction-lg-row {
    flex-direction: row;
  }
  .flex-direction-lg-column {
    flex-direction: column;
  }
  .flex-direction-lg-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-direction-lg-column-reverse {
    flex-direction: column-reverse;
  }
  .flex-wrap-lg-wrap {
    flex-wrap: wrap;
  }
  .flex-wrap-lg-nowrap {
    flex-wrap: nowrap;
  }
  .flex-wrap-lg-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .justify-content-lg-flex-start {
    justify-content: flex-start;
  }
  .justify-content-lg-center {
    justify-content: center;
  }
  .justify-content-lg-flex-end {
    justify-content: flex-end;
  }
  .justify-content-lg-space-between {
    justify-content: space-between;
  }
  .justify-content-lg-space-around {
    justify-content: space-around;
  }
  .justify-content-lg-space-evenly {
    justify-content: space-evenly;
  }
  .align-items-lg-flex-start {
    align-items: flex-start;
  }
  .align-items-lg-center {
    align-items: center;
  }
  .align-items-lg-flex-end {
    align-items: flex-end;
  }
  .align-items-lg-stretch {
    align-items: stretch;
  }
  .align-items-lg-baseline {
    align-items: baseline;
  }
  .align-content-lg-flex-start {
    align-content: flex-start;
  }
  .align-content-lg-center {
    align-content: center;
  }
  .align-content-lg-flex-end {
    align-content: flex-end;
  }
  .align-content-lg-space-between {
    align-content: space-between;
  }
  .align-content-lg-space-around {
    align-content: space-around;
  }
  .align-content-lg-space-evenly {
    align-content: space-evenly;
  }
}
@media screen and (min-width: 75rem) {
  .flex-direction-xl-row {
    flex-direction: row;
  }
  .flex-direction-xl-column {
    flex-direction: column;
  }
  .flex-direction-xl-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-direction-xl-column-reverse {
    flex-direction: column-reverse;
  }
  .flex-wrap-xl-wrap {
    flex-wrap: wrap;
  }
  .flex-wrap-xl-nowrap {
    flex-wrap: nowrap;
  }
  .flex-wrap-xl-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .justify-content-xl-flex-start {
    justify-content: flex-start;
  }
  .justify-content-xl-center {
    justify-content: center;
  }
  .justify-content-xl-flex-end {
    justify-content: flex-end;
  }
  .justify-content-xl-space-between {
    justify-content: space-between;
  }
  .justify-content-xl-space-around {
    justify-content: space-around;
  }
  .justify-content-xl-space-evenly {
    justify-content: space-evenly;
  }
  .align-items-xl-flex-start {
    align-items: flex-start;
  }
  .align-items-xl-center {
    align-items: center;
  }
  .align-items-xl-flex-end {
    align-items: flex-end;
  }
  .align-items-xl-stretch {
    align-items: stretch;
  }
  .align-items-xl-baseline {
    align-items: baseline;
  }
  .align-content-xl-flex-start {
    align-content: flex-start;
  }
  .align-content-xl-center {
    align-content: center;
  }
  .align-content-xl-flex-end {
    align-content: flex-end;
  }
  .align-content-xl-space-between {
    align-content: space-between;
  }
  .align-content-xl-space-around {
    align-content: space-around;
  }
  .align-content-xl-space-evenly {
    align-content: space-evenly;
  }
}
.grid {
  display: grid;
}

@media screen and (min-width: 0) {
  .rows-1-xs {
    grid-template-rows: repeat(1, 1fr);
  }
  .cols-1-xs {
    grid-template-columns: repeat(1, 1fr);
  }
  .row-1-xs {
    grid-row: span 1;
  }
  .col-1-xs {
    grid-column: span 1;
  }
  .rows-2-xs {
    grid-template-rows: repeat(2, 1fr);
  }
  .cols-2-xs {
    grid-template-columns: repeat(2, 1fr);
  }
  .row-2-xs {
    grid-row: span 2;
  }
  .col-2-xs {
    grid-column: span 2;
  }
  .rows-3-xs {
    grid-template-rows: repeat(3, 1fr);
  }
  .cols-3-xs {
    grid-template-columns: repeat(3, 1fr);
  }
  .row-3-xs {
    grid-row: span 3;
  }
  .col-3-xs {
    grid-column: span 3;
  }
  .rows-4-xs {
    grid-template-rows: repeat(4, 1fr);
  }
  .cols-4-xs {
    grid-template-columns: repeat(4, 1fr);
  }
  .row-4-xs {
    grid-row: span 4;
  }
  .col-4-xs {
    grid-column: span 4;
  }
  .rows-5-xs {
    grid-template-rows: repeat(5, 1fr);
  }
  .cols-5-xs {
    grid-template-columns: repeat(5, 1fr);
  }
  .row-5-xs {
    grid-row: span 5;
  }
  .col-5-xs {
    grid-column: span 5;
  }
  .rows-6-xs {
    grid-template-rows: repeat(6, 1fr);
  }
  .cols-6-xs {
    grid-template-columns: repeat(6, 1fr);
  }
  .row-6-xs {
    grid-row: span 6;
  }
  .col-6-xs {
    grid-column: span 6;
  }
  .rows-7-xs {
    grid-template-rows: repeat(7, 1fr);
  }
  .cols-7-xs {
    grid-template-columns: repeat(7, 1fr);
  }
  .row-7-xs {
    grid-row: span 7;
  }
  .col-7-xs {
    grid-column: span 7;
  }
  .rows-8-xs {
    grid-template-rows: repeat(8, 1fr);
  }
  .cols-8-xs {
    grid-template-columns: repeat(8, 1fr);
  }
  .row-8-xs {
    grid-row: span 8;
  }
  .col-8-xs {
    grid-column: span 8;
  }
  .rows-9-xs {
    grid-template-rows: repeat(9, 1fr);
  }
  .cols-9-xs {
    grid-template-columns: repeat(9, 1fr);
  }
  .row-9-xs {
    grid-row: span 9;
  }
  .col-9-xs {
    grid-column: span 9;
  }
  .rows-10-xs {
    grid-template-rows: repeat(10, 1fr);
  }
  .cols-10-xs {
    grid-template-columns: repeat(10, 1fr);
  }
  .row-10-xs {
    grid-row: span 10;
  }
  .col-10-xs {
    grid-column: span 10;
  }
  .rows-11-xs {
    grid-template-rows: repeat(11, 1fr);
  }
  .cols-11-xs {
    grid-template-columns: repeat(11, 1fr);
  }
  .row-11-xs {
    grid-row: span 11;
  }
  .col-11-xs {
    grid-column: span 11;
  }
  .rows-12-xs {
    grid-template-rows: repeat(12, 1fr);
  }
  .cols-12-xs {
    grid-template-columns: repeat(12, 1fr);
  }
  .row-12-xs {
    grid-row: span 12;
  }
  .col-12-xs {
    grid-column: span 12;
  }
}
@media screen and (min-width: 30rem) {
  .rows-1-sm {
    grid-template-rows: repeat(1, 1fr);
  }
  .cols-1-sm {
    grid-template-columns: repeat(1, 1fr);
  }
  .row-1-sm {
    grid-row: span 1;
  }
  .col-1-sm {
    grid-column: span 1;
  }
  .rows-2-sm {
    grid-template-rows: repeat(2, 1fr);
  }
  .cols-2-sm {
    grid-template-columns: repeat(2, 1fr);
  }
  .row-2-sm {
    grid-row: span 2;
  }
  .col-2-sm {
    grid-column: span 2;
  }
  .rows-3-sm {
    grid-template-rows: repeat(3, 1fr);
  }
  .cols-3-sm {
    grid-template-columns: repeat(3, 1fr);
  }
  .row-3-sm {
    grid-row: span 3;
  }
  .col-3-sm {
    grid-column: span 3;
  }
  .rows-4-sm {
    grid-template-rows: repeat(4, 1fr);
  }
  .cols-4-sm {
    grid-template-columns: repeat(4, 1fr);
  }
  .row-4-sm {
    grid-row: span 4;
  }
  .col-4-sm {
    grid-column: span 4;
  }
  .rows-5-sm {
    grid-template-rows: repeat(5, 1fr);
  }
  .cols-5-sm {
    grid-template-columns: repeat(5, 1fr);
  }
  .row-5-sm {
    grid-row: span 5;
  }
  .col-5-sm {
    grid-column: span 5;
  }
  .rows-6-sm {
    grid-template-rows: repeat(6, 1fr);
  }
  .cols-6-sm {
    grid-template-columns: repeat(6, 1fr);
  }
  .row-6-sm {
    grid-row: span 6;
  }
  .col-6-sm {
    grid-column: span 6;
  }
  .rows-7-sm {
    grid-template-rows: repeat(7, 1fr);
  }
  .cols-7-sm {
    grid-template-columns: repeat(7, 1fr);
  }
  .row-7-sm {
    grid-row: span 7;
  }
  .col-7-sm {
    grid-column: span 7;
  }
  .rows-8-sm {
    grid-template-rows: repeat(8, 1fr);
  }
  .cols-8-sm {
    grid-template-columns: repeat(8, 1fr);
  }
  .row-8-sm {
    grid-row: span 8;
  }
  .col-8-sm {
    grid-column: span 8;
  }
  .rows-9-sm {
    grid-template-rows: repeat(9, 1fr);
  }
  .cols-9-sm {
    grid-template-columns: repeat(9, 1fr);
  }
  .row-9-sm {
    grid-row: span 9;
  }
  .col-9-sm {
    grid-column: span 9;
  }
  .rows-10-sm {
    grid-template-rows: repeat(10, 1fr);
  }
  .cols-10-sm {
    grid-template-columns: repeat(10, 1fr);
  }
  .row-10-sm {
    grid-row: span 10;
  }
  .col-10-sm {
    grid-column: span 10;
  }
  .rows-11-sm {
    grid-template-rows: repeat(11, 1fr);
  }
  .cols-11-sm {
    grid-template-columns: repeat(11, 1fr);
  }
  .row-11-sm {
    grid-row: span 11;
  }
  .col-11-sm {
    grid-column: span 11;
  }
  .rows-12-sm {
    grid-template-rows: repeat(12, 1fr);
  }
  .cols-12-sm {
    grid-template-columns: repeat(12, 1fr);
  }
  .row-12-sm {
    grid-row: span 12;
  }
  .col-12-sm {
    grid-column: span 12;
  }
}
@media screen and (min-width: 45rem) {
  .rows-1-md {
    grid-template-rows: repeat(1, 1fr);
  }
  .cols-1-md {
    grid-template-columns: repeat(1, 1fr);
  }
  .row-1-md {
    grid-row: span 1;
  }
  .col-1-md {
    grid-column: span 1;
  }
  .rows-2-md {
    grid-template-rows: repeat(2, 1fr);
  }
  .cols-2-md {
    grid-template-columns: repeat(2, 1fr);
  }
  .row-2-md {
    grid-row: span 2;
  }
  .col-2-md {
    grid-column: span 2;
  }
  .rows-3-md {
    grid-template-rows: repeat(3, 1fr);
  }
  .cols-3-md {
    grid-template-columns: repeat(3, 1fr);
  }
  .row-3-md {
    grid-row: span 3;
  }
  .col-3-md {
    grid-column: span 3;
  }
  .rows-4-md {
    grid-template-rows: repeat(4, 1fr);
  }
  .cols-4-md {
    grid-template-columns: repeat(4, 1fr);
  }
  .row-4-md {
    grid-row: span 4;
  }
  .col-4-md {
    grid-column: span 4;
  }
  .rows-5-md {
    grid-template-rows: repeat(5, 1fr);
  }
  .cols-5-md {
    grid-template-columns: repeat(5, 1fr);
  }
  .row-5-md {
    grid-row: span 5;
  }
  .col-5-md {
    grid-column: span 5;
  }
  .rows-6-md {
    grid-template-rows: repeat(6, 1fr);
  }
  .cols-6-md {
    grid-template-columns: repeat(6, 1fr);
  }
  .row-6-md {
    grid-row: span 6;
  }
  .col-6-md {
    grid-column: span 6;
  }
  .rows-7-md {
    grid-template-rows: repeat(7, 1fr);
  }
  .cols-7-md {
    grid-template-columns: repeat(7, 1fr);
  }
  .row-7-md {
    grid-row: span 7;
  }
  .col-7-md {
    grid-column: span 7;
  }
  .rows-8-md {
    grid-template-rows: repeat(8, 1fr);
  }
  .cols-8-md {
    grid-template-columns: repeat(8, 1fr);
  }
  .row-8-md {
    grid-row: span 8;
  }
  .col-8-md {
    grid-column: span 8;
  }
  .rows-9-md {
    grid-template-rows: repeat(9, 1fr);
  }
  .cols-9-md {
    grid-template-columns: repeat(9, 1fr);
  }
  .row-9-md {
    grid-row: span 9;
  }
  .col-9-md {
    grid-column: span 9;
  }
  .rows-10-md {
    grid-template-rows: repeat(10, 1fr);
  }
  .cols-10-md {
    grid-template-columns: repeat(10, 1fr);
  }
  .row-10-md {
    grid-row: span 10;
  }
  .col-10-md {
    grid-column: span 10;
  }
  .rows-11-md {
    grid-template-rows: repeat(11, 1fr);
  }
  .cols-11-md {
    grid-template-columns: repeat(11, 1fr);
  }
  .row-11-md {
    grid-row: span 11;
  }
  .col-11-md {
    grid-column: span 11;
  }
  .rows-12-md {
    grid-template-rows: repeat(12, 1fr);
  }
  .cols-12-md {
    grid-template-columns: repeat(12, 1fr);
  }
  .row-12-md {
    grid-row: span 12;
  }
  .col-12-md {
    grid-column: span 12;
  }
}
@media screen and (min-width: 60rem) {
  .rows-1-lg {
    grid-template-rows: repeat(1, 1fr);
  }
  .cols-1-lg {
    grid-template-columns: repeat(1, 1fr);
  }
  .row-1-lg {
    grid-row: span 1;
  }
  .col-1-lg {
    grid-column: span 1;
  }
  .rows-2-lg {
    grid-template-rows: repeat(2, 1fr);
  }
  .cols-2-lg {
    grid-template-columns: repeat(2, 1fr);
  }
  .row-2-lg {
    grid-row: span 2;
  }
  .col-2-lg {
    grid-column: span 2;
  }
  .rows-3-lg {
    grid-template-rows: repeat(3, 1fr);
  }
  .cols-3-lg {
    grid-template-columns: repeat(3, 1fr);
  }
  .row-3-lg {
    grid-row: span 3;
  }
  .col-3-lg {
    grid-column: span 3;
  }
  .rows-4-lg {
    grid-template-rows: repeat(4, 1fr);
  }
  .cols-4-lg {
    grid-template-columns: repeat(4, 1fr);
  }
  .row-4-lg {
    grid-row: span 4;
  }
  .col-4-lg {
    grid-column: span 4;
  }
  .rows-5-lg {
    grid-template-rows: repeat(5, 1fr);
  }
  .cols-5-lg {
    grid-template-columns: repeat(5, 1fr);
  }
  .row-5-lg {
    grid-row: span 5;
  }
  .col-5-lg {
    grid-column: span 5;
  }
  .rows-6-lg {
    grid-template-rows: repeat(6, 1fr);
  }
  .cols-6-lg {
    grid-template-columns: repeat(6, 1fr);
  }
  .row-6-lg {
    grid-row: span 6;
  }
  .col-6-lg {
    grid-column: span 6;
  }
  .rows-7-lg {
    grid-template-rows: repeat(7, 1fr);
  }
  .cols-7-lg {
    grid-template-columns: repeat(7, 1fr);
  }
  .row-7-lg {
    grid-row: span 7;
  }
  .col-7-lg {
    grid-column: span 7;
  }
  .rows-8-lg {
    grid-template-rows: repeat(8, 1fr);
  }
  .cols-8-lg {
    grid-template-columns: repeat(8, 1fr);
  }
  .row-8-lg {
    grid-row: span 8;
  }
  .col-8-lg {
    grid-column: span 8;
  }
  .rows-9-lg {
    grid-template-rows: repeat(9, 1fr);
  }
  .cols-9-lg {
    grid-template-columns: repeat(9, 1fr);
  }
  .row-9-lg {
    grid-row: span 9;
  }
  .col-9-lg {
    grid-column: span 9;
  }
  .rows-10-lg {
    grid-template-rows: repeat(10, 1fr);
  }
  .cols-10-lg {
    grid-template-columns: repeat(10, 1fr);
  }
  .row-10-lg {
    grid-row: span 10;
  }
  .col-10-lg {
    grid-column: span 10;
  }
  .rows-11-lg {
    grid-template-rows: repeat(11, 1fr);
  }
  .cols-11-lg {
    grid-template-columns: repeat(11, 1fr);
  }
  .row-11-lg {
    grid-row: span 11;
  }
  .col-11-lg {
    grid-column: span 11;
  }
  .rows-12-lg {
    grid-template-rows: repeat(12, 1fr);
  }
  .cols-12-lg {
    grid-template-columns: repeat(12, 1fr);
  }
  .row-12-lg {
    grid-row: span 12;
  }
  .col-12-lg {
    grid-column: span 12;
  }
}
@media screen and (min-width: 75rem) {
  .rows-1-xl {
    grid-template-rows: repeat(1, 1fr);
  }
  .cols-1-xl {
    grid-template-columns: repeat(1, 1fr);
  }
  .row-1-xl {
    grid-row: span 1;
  }
  .col-1-xl {
    grid-column: span 1;
  }
  .rows-2-xl {
    grid-template-rows: repeat(2, 1fr);
  }
  .cols-2-xl {
    grid-template-columns: repeat(2, 1fr);
  }
  .row-2-xl {
    grid-row: span 2;
  }
  .col-2-xl {
    grid-column: span 2;
  }
  .rows-3-xl {
    grid-template-rows: repeat(3, 1fr);
  }
  .cols-3-xl {
    grid-template-columns: repeat(3, 1fr);
  }
  .row-3-xl {
    grid-row: span 3;
  }
  .col-3-xl {
    grid-column: span 3;
  }
  .rows-4-xl {
    grid-template-rows: repeat(4, 1fr);
  }
  .cols-4-xl {
    grid-template-columns: repeat(4, 1fr);
  }
  .row-4-xl {
    grid-row: span 4;
  }
  .col-4-xl {
    grid-column: span 4;
  }
  .rows-5-xl {
    grid-template-rows: repeat(5, 1fr);
  }
  .cols-5-xl {
    grid-template-columns: repeat(5, 1fr);
  }
  .row-5-xl {
    grid-row: span 5;
  }
  .col-5-xl {
    grid-column: span 5;
  }
  .rows-6-xl {
    grid-template-rows: repeat(6, 1fr);
  }
  .cols-6-xl {
    grid-template-columns: repeat(6, 1fr);
  }
  .row-6-xl {
    grid-row: span 6;
  }
  .col-6-xl {
    grid-column: span 6;
  }
  .rows-7-xl {
    grid-template-rows: repeat(7, 1fr);
  }
  .cols-7-xl {
    grid-template-columns: repeat(7, 1fr);
  }
  .row-7-xl {
    grid-row: span 7;
  }
  .col-7-xl {
    grid-column: span 7;
  }
  .rows-8-xl {
    grid-template-rows: repeat(8, 1fr);
  }
  .cols-8-xl {
    grid-template-columns: repeat(8, 1fr);
  }
  .row-8-xl {
    grid-row: span 8;
  }
  .col-8-xl {
    grid-column: span 8;
  }
  .rows-9-xl {
    grid-template-rows: repeat(9, 1fr);
  }
  .cols-9-xl {
    grid-template-columns: repeat(9, 1fr);
  }
  .row-9-xl {
    grid-row: span 9;
  }
  .col-9-xl {
    grid-column: span 9;
  }
  .rows-10-xl {
    grid-template-rows: repeat(10, 1fr);
  }
  .cols-10-xl {
    grid-template-columns: repeat(10, 1fr);
  }
  .row-10-xl {
    grid-row: span 10;
  }
  .col-10-xl {
    grid-column: span 10;
  }
  .rows-11-xl {
    grid-template-rows: repeat(11, 1fr);
  }
  .cols-11-xl {
    grid-template-columns: repeat(11, 1fr);
  }
  .row-11-xl {
    grid-row: span 11;
  }
  .col-11-xl {
    grid-column: span 11;
  }
  .rows-12-xl {
    grid-template-rows: repeat(12, 1fr);
  }
  .cols-12-xl {
    grid-template-columns: repeat(12, 1fr);
  }
  .row-12-xl {
    grid-row: span 12;
  }
  .col-12-xl {
    grid-column: span 12;
  }
}
@media screen and (min-width: 0) {
  .gap-xs-50 {
    gap: 0.25rem;
  }
  .m-xs-50 {
    margin: 0.25rem;
  }
  .p-xs-50 {
    padding: 0.25rem;
  }
  .gap-xs-100 {
    gap: 0.5rem;
  }
  .m-xs-100 {
    margin: 0.5rem;
  }
  .p-xs-100 {
    padding: 0.5rem;
  }
  .gap-xs-150 {
    gap: 0.75rem;
  }
  .m-xs-150 {
    margin: 0.75rem;
  }
  .p-xs-150 {
    padding: 0.75rem;
  }
  .gap-xs-200 {
    gap: 1rem;
  }
  .m-xs-200 {
    margin: 1rem;
  }
  .p-xs-200 {
    padding: 1rem;
  }
  .gap-xs-300 {
    gap: 1.5rem;
  }
  .m-xs-300 {
    margin: 1.5rem;
  }
  .p-xs-300 {
    padding: 1.5rem;
  }
}
.mt-xs-50 {
  margin-top: 0.25rem;
}

.mr-xs-50 {
  margin-right: 0.25rem;
}

.mb-xs-50 {
  margin-bottom: 0.25rem;
}

.ml-xs-50 {
  margin-left: 0.25rem;
}

.pt-xs-50 {
  padding-top: 0.25rem;
}

.pr-xs-50 {
  padding-right: 0.25rem;
}

.pb-xs-50 {
  padding-bottom: 0.25rem;
}

.pl-xs-50 {
  padding-left: 0.25rem;
}

.mt-xs-100 {
  margin-top: 0.5rem;
}

.mr-xs-100 {
  margin-right: 0.5rem;
}

.mb-xs-100 {
  margin-bottom: 0.5rem;
}

.ml-xs-100 {
  margin-left: 0.5rem;
}

.pt-xs-100 {
  padding-top: 0.5rem;
}

.pr-xs-100 {
  padding-right: 0.5rem;
}

.pb-xs-100 {
  padding-bottom: 0.5rem;
}

.pl-xs-100 {
  padding-left: 0.5rem;
}

.mt-xs-150 {
  margin-top: 0.75rem;
}

.mr-xs-150 {
  margin-right: 0.75rem;
}

.mb-xs-150 {
  margin-bottom: 0.75rem;
}

.ml-xs-150 {
  margin-left: 0.75rem;
}

.pt-xs-150 {
  padding-top: 0.75rem;
}

.pr-xs-150 {
  padding-right: 0.75rem;
}

.pb-xs-150 {
  padding-bottom: 0.75rem;
}

.pl-xs-150 {
  padding-left: 0.75rem;
}

.mt-xs-200 {
  margin-top: 1rem;
}

.mr-xs-200 {
  margin-right: 1rem;
}

.mb-xs-200 {
  margin-bottom: 1rem;
}

.ml-xs-200 {
  margin-left: 1rem;
}

.pt-xs-200 {
  padding-top: 1rem;
}

.pr-xs-200 {
  padding-right: 1rem;
}

.pb-xs-200 {
  padding-bottom: 1rem;
}

.pl-xs-200 {
  padding-left: 1rem;
}

.mt-xs-300 {
  margin-top: 1.5rem;
}

.mr-xs-300 {
  margin-right: 1.5rem;
}

.mb-xs-300 {
  margin-bottom: 1.5rem;
}

.ml-xs-300 {
  margin-left: 1.5rem;
}

.pt-xs-300 {
  padding-top: 1.5rem;
}

.pr-xs-300 {
  padding-right: 1.5rem;
}

.pb-xs-300 {
  padding-bottom: 1.5rem;
}

.pl-xs-300 {
  padding-left: 1.5rem;
}

.bg-primary-xs-red {
  background-color: hsl(0, 100%, 50%);
}

.text-primary-xs-red {
  color: hsl(0, 100%, 50%);
}

.bg-hover-primary-xs-red:hover {
  background-color: hsl(0, 100%, 50%);
}

.text-hover-primary-xs-red:hover {
  color: hsl(0, 100%, 50%);
}

.bg-active-primary-xs-red:active {
  background-color: hsl(0, 100%, 50%);
}

.text-active-primary-xs-red:active {
  color: hsl(0, 100%, 50%);
}

.bg-primary-xs-green {
  background-color: hsl(120, 100%, 25%);
}

.text-primary-xs-green {
  color: hsl(120, 100%, 25%);
}

.bg-hover-primary-xs-green:hover {
  background-color: hsl(120, 100%, 25%);
}

.text-hover-primary-xs-green:hover {
  color: hsl(120, 100%, 25%);
}

.bg-active-primary-xs-green:active {
  background-color: hsl(120, 100%, 25%);
}

.text-active-primary-xs-green:active {
  color: hsl(120, 100%, 25%);
}

.bg-primary-xs-blue {
  background-color: hsl(240, 100%, 50%);
}

.text-primary-xs-blue {
  color: hsl(240, 100%, 50%);
}

.bg-hover-primary-xs-blue:hover {
  background-color: hsl(240, 100%, 50%);
}

.text-hover-primary-xs-blue:hover {
  color: hsl(240, 100%, 50%);
}

.bg-active-primary-xs-blue:active {
  background-color: hsl(240, 100%, 50%);
}

.text-active-primary-xs-blue:active {
  color: hsl(240, 100%, 50%);
}

.bg-neutral-xs-white {
  background-color: hsl(0, 0%, 100%);
}

.text-neutral-xs-white {
  color: hsl(0, 0%, 100%);
}

.bg-hover-neutral-xs-white:hover {
  background-color: hsl(0, 0%, 100%);
}

.text-hover-neutral-xs-white:hover {
  color: hsl(0, 0%, 100%);
}

.bg-active-neutral-xs-white:active {
  background-color: hsl(0, 0%, 100%);
}

.text-active-neutral-xs-white:active {
  color: hsl(0, 0%, 100%);
}

.bg-neutral-xs-black {
  background-color: hsl(0, 0%, 0%);
}

.text-neutral-xs-black {
  color: hsl(0, 0%, 0%);
}

.bg-hover-neutral-xs-black:hover {
  background-color: hsl(0, 0%, 0%);
}

.text-hover-neutral-xs-black:hover {
  color: hsl(0, 0%, 0%);
}

.bg-active-neutral-xs-black:active {
  background-color: hsl(0, 0%, 0%);
}

.text-active-neutral-xs-black:active {
  color: hsl(0, 0%, 0%);
}

@media screen and (min-width: 30rem) {
  .gap-sm-50 {
    gap: 0.25rem;
  }
  .m-sm-50 {
    margin: 0.25rem;
  }
  .p-sm-50 {
    padding: 0.25rem;
  }
  .gap-sm-100 {
    gap: 0.5rem;
  }
  .m-sm-100 {
    margin: 0.5rem;
  }
  .p-sm-100 {
    padding: 0.5rem;
  }
  .gap-sm-150 {
    gap: 0.75rem;
  }
  .m-sm-150 {
    margin: 0.75rem;
  }
  .p-sm-150 {
    padding: 0.75rem;
  }
  .gap-sm-200 {
    gap: 1rem;
  }
  .m-sm-200 {
    margin: 1rem;
  }
  .p-sm-200 {
    padding: 1rem;
  }
  .gap-sm-300 {
    gap: 1.5rem;
  }
  .m-sm-300 {
    margin: 1.5rem;
  }
  .p-sm-300 {
    padding: 1.5rem;
  }
}
.mt-sm-50 {
  margin-top: 0.25rem;
}

.mr-sm-50 {
  margin-right: 0.25rem;
}

.mb-sm-50 {
  margin-bottom: 0.25rem;
}

.ml-sm-50 {
  margin-left: 0.25rem;
}

.pt-sm-50 {
  padding-top: 0.25rem;
}

.pr-sm-50 {
  padding-right: 0.25rem;
}

.pb-sm-50 {
  padding-bottom: 0.25rem;
}

.pl-sm-50 {
  padding-left: 0.25rem;
}

.mt-sm-100 {
  margin-top: 0.5rem;
}

.mr-sm-100 {
  margin-right: 0.5rem;
}

.mb-sm-100 {
  margin-bottom: 0.5rem;
}

.ml-sm-100 {
  margin-left: 0.5rem;
}

.pt-sm-100 {
  padding-top: 0.5rem;
}

.pr-sm-100 {
  padding-right: 0.5rem;
}

.pb-sm-100 {
  padding-bottom: 0.5rem;
}

.pl-sm-100 {
  padding-left: 0.5rem;
}

.mt-sm-150 {
  margin-top: 0.75rem;
}

.mr-sm-150 {
  margin-right: 0.75rem;
}

.mb-sm-150 {
  margin-bottom: 0.75rem;
}

.ml-sm-150 {
  margin-left: 0.75rem;
}

.pt-sm-150 {
  padding-top: 0.75rem;
}

.pr-sm-150 {
  padding-right: 0.75rem;
}

.pb-sm-150 {
  padding-bottom: 0.75rem;
}

.pl-sm-150 {
  padding-left: 0.75rem;
}

.mt-sm-200 {
  margin-top: 1rem;
}

.mr-sm-200 {
  margin-right: 1rem;
}

.mb-sm-200 {
  margin-bottom: 1rem;
}

.ml-sm-200 {
  margin-left: 1rem;
}

.pt-sm-200 {
  padding-top: 1rem;
}

.pr-sm-200 {
  padding-right: 1rem;
}

.pb-sm-200 {
  padding-bottom: 1rem;
}

.pl-sm-200 {
  padding-left: 1rem;
}

.mt-sm-300 {
  margin-top: 1.5rem;
}

.mr-sm-300 {
  margin-right: 1.5rem;
}

.mb-sm-300 {
  margin-bottom: 1.5rem;
}

.ml-sm-300 {
  margin-left: 1.5rem;
}

.pt-sm-300 {
  padding-top: 1.5rem;
}

.pr-sm-300 {
  padding-right: 1.5rem;
}

.pb-sm-300 {
  padding-bottom: 1.5rem;
}

.pl-sm-300 {
  padding-left: 1.5rem;
}

.bg-primary-sm-red {
  background-color: hsl(0, 100%, 50%);
}

.text-primary-sm-red {
  color: hsl(0, 100%, 50%);
}

.bg-hover-primary-sm-red:hover {
  background-color: hsl(0, 100%, 50%);
}

.text-hover-primary-sm-red:hover {
  color: hsl(0, 100%, 50%);
}

.bg-active-primary-sm-red:active {
  background-color: hsl(0, 100%, 50%);
}

.text-active-primary-sm-red:active {
  color: hsl(0, 100%, 50%);
}

.bg-primary-sm-green {
  background-color: hsl(120, 100%, 25%);
}

.text-primary-sm-green {
  color: hsl(120, 100%, 25%);
}

.bg-hover-primary-sm-green:hover {
  background-color: hsl(120, 100%, 25%);
}

.text-hover-primary-sm-green:hover {
  color: hsl(120, 100%, 25%);
}

.bg-active-primary-sm-green:active {
  background-color: hsl(120, 100%, 25%);
}

.text-active-primary-sm-green:active {
  color: hsl(120, 100%, 25%);
}

.bg-primary-sm-blue {
  background-color: hsl(240, 100%, 50%);
}

.text-primary-sm-blue {
  color: hsl(240, 100%, 50%);
}

.bg-hover-primary-sm-blue:hover {
  background-color: hsl(240, 100%, 50%);
}

.text-hover-primary-sm-blue:hover {
  color: hsl(240, 100%, 50%);
}

.bg-active-primary-sm-blue:active {
  background-color: hsl(240, 100%, 50%);
}

.text-active-primary-sm-blue:active {
  color: hsl(240, 100%, 50%);
}

.bg-neutral-sm-white {
  background-color: hsl(0, 0%, 100%);
}

.text-neutral-sm-white {
  color: hsl(0, 0%, 100%);
}

.bg-hover-neutral-sm-white:hover {
  background-color: hsl(0, 0%, 100%);
}

.text-hover-neutral-sm-white:hover {
  color: hsl(0, 0%, 100%);
}

.bg-active-neutral-sm-white:active {
  background-color: hsl(0, 0%, 100%);
}

.text-active-neutral-sm-white:active {
  color: hsl(0, 0%, 100%);
}

.bg-neutral-sm-black {
  background-color: hsl(0, 0%, 0%);
}

.text-neutral-sm-black {
  color: hsl(0, 0%, 0%);
}

.bg-hover-neutral-sm-black:hover {
  background-color: hsl(0, 0%, 0%);
}

.text-hover-neutral-sm-black:hover {
  color: hsl(0, 0%, 0%);
}

.bg-active-neutral-sm-black:active {
  background-color: hsl(0, 0%, 0%);
}

.text-active-neutral-sm-black:active {
  color: hsl(0, 0%, 0%);
}

@media screen and (min-width: 45rem) {
  .gap-md-50 {
    gap: 0.25rem;
  }
  .m-md-50 {
    margin: 0.25rem;
  }
  .p-md-50 {
    padding: 0.25rem;
  }
  .gap-md-100 {
    gap: 0.5rem;
  }
  .m-md-100 {
    margin: 0.5rem;
  }
  .p-md-100 {
    padding: 0.5rem;
  }
  .gap-md-150 {
    gap: 0.75rem;
  }
  .m-md-150 {
    margin: 0.75rem;
  }
  .p-md-150 {
    padding: 0.75rem;
  }
  .gap-md-200 {
    gap: 1rem;
  }
  .m-md-200 {
    margin: 1rem;
  }
  .p-md-200 {
    padding: 1rem;
  }
  .gap-md-300 {
    gap: 1.5rem;
  }
  .m-md-300 {
    margin: 1.5rem;
  }
  .p-md-300 {
    padding: 1.5rem;
  }
}
.mt-md-50 {
  margin-top: 0.25rem;
}

.mr-md-50 {
  margin-right: 0.25rem;
}

.mb-md-50 {
  margin-bottom: 0.25rem;
}

.ml-md-50 {
  margin-left: 0.25rem;
}

.pt-md-50 {
  padding-top: 0.25rem;
}

.pr-md-50 {
  padding-right: 0.25rem;
}

.pb-md-50 {
  padding-bottom: 0.25rem;
}

.pl-md-50 {
  padding-left: 0.25rem;
}

.mt-md-100 {
  margin-top: 0.5rem;
}

.mr-md-100 {
  margin-right: 0.5rem;
}

.mb-md-100 {
  margin-bottom: 0.5rem;
}

.ml-md-100 {
  margin-left: 0.5rem;
}

.pt-md-100 {
  padding-top: 0.5rem;
}

.pr-md-100 {
  padding-right: 0.5rem;
}

.pb-md-100 {
  padding-bottom: 0.5rem;
}

.pl-md-100 {
  padding-left: 0.5rem;
}

.mt-md-150 {
  margin-top: 0.75rem;
}

.mr-md-150 {
  margin-right: 0.75rem;
}

.mb-md-150 {
  margin-bottom: 0.75rem;
}

.ml-md-150 {
  margin-left: 0.75rem;
}

.pt-md-150 {
  padding-top: 0.75rem;
}

.pr-md-150 {
  padding-right: 0.75rem;
}

.pb-md-150 {
  padding-bottom: 0.75rem;
}

.pl-md-150 {
  padding-left: 0.75rem;
}

.mt-md-200 {
  margin-top: 1rem;
}

.mr-md-200 {
  margin-right: 1rem;
}

.mb-md-200 {
  margin-bottom: 1rem;
}

.ml-md-200 {
  margin-left: 1rem;
}

.pt-md-200 {
  padding-top: 1rem;
}

.pr-md-200 {
  padding-right: 1rem;
}

.pb-md-200 {
  padding-bottom: 1rem;
}

.pl-md-200 {
  padding-left: 1rem;
}

.mt-md-300 {
  margin-top: 1.5rem;
}

.mr-md-300 {
  margin-right: 1.5rem;
}

.mb-md-300 {
  margin-bottom: 1.5rem;
}

.ml-md-300 {
  margin-left: 1.5rem;
}

.pt-md-300 {
  padding-top: 1.5rem;
}

.pr-md-300 {
  padding-right: 1.5rem;
}

.pb-md-300 {
  padding-bottom: 1.5rem;
}

.pl-md-300 {
  padding-left: 1.5rem;
}

.bg-primary-md-red {
  background-color: hsl(0, 100%, 50%);
}

.text-primary-md-red {
  color: hsl(0, 100%, 50%);
}

.bg-hover-primary-md-red:hover {
  background-color: hsl(0, 100%, 50%);
}

.text-hover-primary-md-red:hover {
  color: hsl(0, 100%, 50%);
}

.bg-active-primary-md-red:active {
  background-color: hsl(0, 100%, 50%);
}

.text-active-primary-md-red:active {
  color: hsl(0, 100%, 50%);
}

.bg-primary-md-green {
  background-color: hsl(120, 100%, 25%);
}

.text-primary-md-green {
  color: hsl(120, 100%, 25%);
}

.bg-hover-primary-md-green:hover {
  background-color: hsl(120, 100%, 25%);
}

.text-hover-primary-md-green:hover {
  color: hsl(120, 100%, 25%);
}

.bg-active-primary-md-green:active {
  background-color: hsl(120, 100%, 25%);
}

.text-active-primary-md-green:active {
  color: hsl(120, 100%, 25%);
}

.bg-primary-md-blue {
  background-color: hsl(240, 100%, 50%);
}

.text-primary-md-blue {
  color: hsl(240, 100%, 50%);
}

.bg-hover-primary-md-blue:hover {
  background-color: hsl(240, 100%, 50%);
}

.text-hover-primary-md-blue:hover {
  color: hsl(240, 100%, 50%);
}

.bg-active-primary-md-blue:active {
  background-color: hsl(240, 100%, 50%);
}

.text-active-primary-md-blue:active {
  color: hsl(240, 100%, 50%);
}

.bg-neutral-md-white {
  background-color: hsl(0, 0%, 100%);
}

.text-neutral-md-white {
  color: hsl(0, 0%, 100%);
}

.bg-hover-neutral-md-white:hover {
  background-color: hsl(0, 0%, 100%);
}

.text-hover-neutral-md-white:hover {
  color: hsl(0, 0%, 100%);
}

.bg-active-neutral-md-white:active {
  background-color: hsl(0, 0%, 100%);
}

.text-active-neutral-md-white:active {
  color: hsl(0, 0%, 100%);
}

.bg-neutral-md-black {
  background-color: hsl(0, 0%, 0%);
}

.text-neutral-md-black {
  color: hsl(0, 0%, 0%);
}

.bg-hover-neutral-md-black:hover {
  background-color: hsl(0, 0%, 0%);
}

.text-hover-neutral-md-black:hover {
  color: hsl(0, 0%, 0%);
}

.bg-active-neutral-md-black:active {
  background-color: hsl(0, 0%, 0%);
}

.text-active-neutral-md-black:active {
  color: hsl(0, 0%, 0%);
}

@media screen and (min-width: 60rem) {
  .gap-lg-50 {
    gap: 0.25rem;
  }
  .m-lg-50 {
    margin: 0.25rem;
  }
  .p-lg-50 {
    padding: 0.25rem;
  }
  .gap-lg-100 {
    gap: 0.5rem;
  }
  .m-lg-100 {
    margin: 0.5rem;
  }
  .p-lg-100 {
    padding: 0.5rem;
  }
  .gap-lg-150 {
    gap: 0.75rem;
  }
  .m-lg-150 {
    margin: 0.75rem;
  }
  .p-lg-150 {
    padding: 0.75rem;
  }
  .gap-lg-200 {
    gap: 1rem;
  }
  .m-lg-200 {
    margin: 1rem;
  }
  .p-lg-200 {
    padding: 1rem;
  }
  .gap-lg-300 {
    gap: 1.5rem;
  }
  .m-lg-300 {
    margin: 1.5rem;
  }
  .p-lg-300 {
    padding: 1.5rem;
  }
}
.mt-lg-50 {
  margin-top: 0.25rem;
}

.mr-lg-50 {
  margin-right: 0.25rem;
}

.mb-lg-50 {
  margin-bottom: 0.25rem;
}

.ml-lg-50 {
  margin-left: 0.25rem;
}

.pt-lg-50 {
  padding-top: 0.25rem;
}

.pr-lg-50 {
  padding-right: 0.25rem;
}

.pb-lg-50 {
  padding-bottom: 0.25rem;
}

.pl-lg-50 {
  padding-left: 0.25rem;
}

.mt-lg-100 {
  margin-top: 0.5rem;
}

.mr-lg-100 {
  margin-right: 0.5rem;
}

.mb-lg-100 {
  margin-bottom: 0.5rem;
}

.ml-lg-100 {
  margin-left: 0.5rem;
}

.pt-lg-100 {
  padding-top: 0.5rem;
}

.pr-lg-100 {
  padding-right: 0.5rem;
}

.pb-lg-100 {
  padding-bottom: 0.5rem;
}

.pl-lg-100 {
  padding-left: 0.5rem;
}

.mt-lg-150 {
  margin-top: 0.75rem;
}

.mr-lg-150 {
  margin-right: 0.75rem;
}

.mb-lg-150 {
  margin-bottom: 0.75rem;
}

.ml-lg-150 {
  margin-left: 0.75rem;
}

.pt-lg-150 {
  padding-top: 0.75rem;
}

.pr-lg-150 {
  padding-right: 0.75rem;
}

.pb-lg-150 {
  padding-bottom: 0.75rem;
}

.pl-lg-150 {
  padding-left: 0.75rem;
}

.mt-lg-200 {
  margin-top: 1rem;
}

.mr-lg-200 {
  margin-right: 1rem;
}

.mb-lg-200 {
  margin-bottom: 1rem;
}

.ml-lg-200 {
  margin-left: 1rem;
}

.pt-lg-200 {
  padding-top: 1rem;
}

.pr-lg-200 {
  padding-right: 1rem;
}

.pb-lg-200 {
  padding-bottom: 1rem;
}

.pl-lg-200 {
  padding-left: 1rem;
}

.mt-lg-300 {
  margin-top: 1.5rem;
}

.mr-lg-300 {
  margin-right: 1.5rem;
}

.mb-lg-300 {
  margin-bottom: 1.5rem;
}

.ml-lg-300 {
  margin-left: 1.5rem;
}

.pt-lg-300 {
  padding-top: 1.5rem;
}

.pr-lg-300 {
  padding-right: 1.5rem;
}

.pb-lg-300 {
  padding-bottom: 1.5rem;
}

.pl-lg-300 {
  padding-left: 1.5rem;
}

.bg-primary-lg-red {
  background-color: hsl(0, 100%, 50%);
}

.text-primary-lg-red {
  color: hsl(0, 100%, 50%);
}

.bg-hover-primary-lg-red:hover {
  background-color: hsl(0, 100%, 50%);
}

.text-hover-primary-lg-red:hover {
  color: hsl(0, 100%, 50%);
}

.bg-active-primary-lg-red:active {
  background-color: hsl(0, 100%, 50%);
}

.text-active-primary-lg-red:active {
  color: hsl(0, 100%, 50%);
}

.bg-primary-lg-green {
  background-color: hsl(120, 100%, 25%);
}

.text-primary-lg-green {
  color: hsl(120, 100%, 25%);
}

.bg-hover-primary-lg-green:hover {
  background-color: hsl(120, 100%, 25%);
}

.text-hover-primary-lg-green:hover {
  color: hsl(120, 100%, 25%);
}

.bg-active-primary-lg-green:active {
  background-color: hsl(120, 100%, 25%);
}

.text-active-primary-lg-green:active {
  color: hsl(120, 100%, 25%);
}

.bg-primary-lg-blue {
  background-color: hsl(240, 100%, 50%);
}

.text-primary-lg-blue {
  color: hsl(240, 100%, 50%);
}

.bg-hover-primary-lg-blue:hover {
  background-color: hsl(240, 100%, 50%);
}

.text-hover-primary-lg-blue:hover {
  color: hsl(240, 100%, 50%);
}

.bg-active-primary-lg-blue:active {
  background-color: hsl(240, 100%, 50%);
}

.text-active-primary-lg-blue:active {
  color: hsl(240, 100%, 50%);
}

.bg-neutral-lg-white {
  background-color: hsl(0, 0%, 100%);
}

.text-neutral-lg-white {
  color: hsl(0, 0%, 100%);
}

.bg-hover-neutral-lg-white:hover {
  background-color: hsl(0, 0%, 100%);
}

.text-hover-neutral-lg-white:hover {
  color: hsl(0, 0%, 100%);
}

.bg-active-neutral-lg-white:active {
  background-color: hsl(0, 0%, 100%);
}

.text-active-neutral-lg-white:active {
  color: hsl(0, 0%, 100%);
}

.bg-neutral-lg-black {
  background-color: hsl(0, 0%, 0%);
}

.text-neutral-lg-black {
  color: hsl(0, 0%, 0%);
}

.bg-hover-neutral-lg-black:hover {
  background-color: hsl(0, 0%, 0%);
}

.text-hover-neutral-lg-black:hover {
  color: hsl(0, 0%, 0%);
}

.bg-active-neutral-lg-black:active {
  background-color: hsl(0, 0%, 0%);
}

.text-active-neutral-lg-black:active {
  color: hsl(0, 0%, 0%);
}

@media screen and (min-width: 75rem) {
  .gap-xl-50 {
    gap: 0.25rem;
  }
  .m-xl-50 {
    margin: 0.25rem;
  }
  .p-xl-50 {
    padding: 0.25rem;
  }
  .gap-xl-100 {
    gap: 0.5rem;
  }
  .m-xl-100 {
    margin: 0.5rem;
  }
  .p-xl-100 {
    padding: 0.5rem;
  }
  .gap-xl-150 {
    gap: 0.75rem;
  }
  .m-xl-150 {
    margin: 0.75rem;
  }
  .p-xl-150 {
    padding: 0.75rem;
  }
  .gap-xl-200 {
    gap: 1rem;
  }
  .m-xl-200 {
    margin: 1rem;
  }
  .p-xl-200 {
    padding: 1rem;
  }
  .gap-xl-300 {
    gap: 1.5rem;
  }
  .m-xl-300 {
    margin: 1.5rem;
  }
  .p-xl-300 {
    padding: 1.5rem;
  }
}
.mt-xl-50 {
  margin-top: 0.25rem;
}

.mr-xl-50 {
  margin-right: 0.25rem;
}

.mb-xl-50 {
  margin-bottom: 0.25rem;
}

.ml-xl-50 {
  margin-left: 0.25rem;
}

.pt-xl-50 {
  padding-top: 0.25rem;
}

.pr-xl-50 {
  padding-right: 0.25rem;
}

.pb-xl-50 {
  padding-bottom: 0.25rem;
}

.pl-xl-50 {
  padding-left: 0.25rem;
}

.mt-xl-100 {
  margin-top: 0.5rem;
}

.mr-xl-100 {
  margin-right: 0.5rem;
}

.mb-xl-100 {
  margin-bottom: 0.5rem;
}

.ml-xl-100 {
  margin-left: 0.5rem;
}

.pt-xl-100 {
  padding-top: 0.5rem;
}

.pr-xl-100 {
  padding-right: 0.5rem;
}

.pb-xl-100 {
  padding-bottom: 0.5rem;
}

.pl-xl-100 {
  padding-left: 0.5rem;
}

.mt-xl-150 {
  margin-top: 0.75rem;
}

.mr-xl-150 {
  margin-right: 0.75rem;
}

.mb-xl-150 {
  margin-bottom: 0.75rem;
}

.ml-xl-150 {
  margin-left: 0.75rem;
}

.pt-xl-150 {
  padding-top: 0.75rem;
}

.pr-xl-150 {
  padding-right: 0.75rem;
}

.pb-xl-150 {
  padding-bottom: 0.75rem;
}

.pl-xl-150 {
  padding-left: 0.75rem;
}

.mt-xl-200 {
  margin-top: 1rem;
}

.mr-xl-200 {
  margin-right: 1rem;
}

.mb-xl-200 {
  margin-bottom: 1rem;
}

.ml-xl-200 {
  margin-left: 1rem;
}

.pt-xl-200 {
  padding-top: 1rem;
}

.pr-xl-200 {
  padding-right: 1rem;
}

.pb-xl-200 {
  padding-bottom: 1rem;
}

.pl-xl-200 {
  padding-left: 1rem;
}

.mt-xl-300 {
  margin-top: 1.5rem;
}

.mr-xl-300 {
  margin-right: 1.5rem;
}

.mb-xl-300 {
  margin-bottom: 1.5rem;
}

.ml-xl-300 {
  margin-left: 1.5rem;
}

.pt-xl-300 {
  padding-top: 1.5rem;
}

.pr-xl-300 {
  padding-right: 1.5rem;
}

.pb-xl-300 {
  padding-bottom: 1.5rem;
}

.pl-xl-300 {
  padding-left: 1.5rem;
}

.bg-primary-xl-red {
  background-color: hsl(0, 100%, 50%);
}

.text-primary-xl-red {
  color: hsl(0, 100%, 50%);
}

.bg-hover-primary-xl-red:hover {
  background-color: hsl(0, 100%, 50%);
}

.text-hover-primary-xl-red:hover {
  color: hsl(0, 100%, 50%);
}

.bg-active-primary-xl-red:active {
  background-color: hsl(0, 100%, 50%);
}

.text-active-primary-xl-red:active {
  color: hsl(0, 100%, 50%);
}

.bg-primary-xl-green {
  background-color: hsl(120, 100%, 25%);
}

.text-primary-xl-green {
  color: hsl(120, 100%, 25%);
}

.bg-hover-primary-xl-green:hover {
  background-color: hsl(120, 100%, 25%);
}

.text-hover-primary-xl-green:hover {
  color: hsl(120, 100%, 25%);
}

.bg-active-primary-xl-green:active {
  background-color: hsl(120, 100%, 25%);
}

.text-active-primary-xl-green:active {
  color: hsl(120, 100%, 25%);
}

.bg-primary-xl-blue {
  background-color: hsl(240, 100%, 50%);
}

.text-primary-xl-blue {
  color: hsl(240, 100%, 50%);
}

.bg-hover-primary-xl-blue:hover {
  background-color: hsl(240, 100%, 50%);
}

.text-hover-primary-xl-blue:hover {
  color: hsl(240, 100%, 50%);
}

.bg-active-primary-xl-blue:active {
  background-color: hsl(240, 100%, 50%);
}

.text-active-primary-xl-blue:active {
  color: hsl(240, 100%, 50%);
}

.bg-neutral-xl-white {
  background-color: hsl(0, 0%, 100%);
}

.text-neutral-xl-white {
  color: hsl(0, 0%, 100%);
}

.bg-hover-neutral-xl-white:hover {
  background-color: hsl(0, 0%, 100%);
}

.text-hover-neutral-xl-white:hover {
  color: hsl(0, 0%, 100%);
}

.bg-active-neutral-xl-white:active {
  background-color: hsl(0, 0%, 100%);
}

.text-active-neutral-xl-white:active {
  color: hsl(0, 0%, 100%);
}

.bg-neutral-xl-black {
  background-color: hsl(0, 0%, 0%);
}

.text-neutral-xl-black {
  color: hsl(0, 0%, 0%);
}

.bg-hover-neutral-xl-black:hover {
  background-color: hsl(0, 0%, 0%);
}

.text-hover-neutral-xl-black:hover {
  color: hsl(0, 0%, 0%);
}

.bg-active-neutral-xl-black:active {
  background-color: hsl(0, 0%, 0%);
}

.text-active-neutral-xl-black:active {
  color: hsl(0, 0%, 0%);
}

/*# sourceMappingURL=style.css.map */
