:root {
  --color-primary-slate-900: hsl(218, 44%, 22%);
  --color-primary-slate-500: hsl(216, 15%, 48%);
  --color-primary-slate-300: hsl(212, 45%, 89%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --font-weight-400: 400;
  --font-weight-700: 700;
  --letter-spacing-0: 0px;
  --letter-spacing-1: 0.0125rem;
  --line-height-normal: normal;
  --line-height-120: 120%;
  --line-height-140: 140%;
  --spacer-200: 1rem;
  --spacer-300: 1.5rem;
  --spacer-500: 2.5rem;
  --font-size-400: 0.9375rem;
  --font-size-600: 1.375rem;
}
@media screen and (min-width: 30rem) {
  :root {
    --font-size-400: 0.9375rem;
    --font-size-600: 1.375rem;
  }
}
@media screen and (min-width: 45rem) {
  :root {
    --font-size-400: 0.9375rem;
    --font-size-600: 1.375rem;
  }
}

/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a, button {
  cursor: revert;
}

ol, ul, menu, summary {
  list-style: none;
}

ol {
  counter-reset: revert;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit/Outfit-VariableFont_wght.ttf");
  font-weight: 400, 700;
}
* {
  font-family: "Outfit", sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

h2 {
  font-family: "Outfit", sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

h3 {
  font-family: "Outfit", sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

h4 {
  font-family: "Outfit", sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

h5 {
  font-family: "Outfit", sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

h6 {
  font-family: "Outfit", sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

p,
li,
label,
td {
  font-family: "Outfit", sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

b,
strong,
th {
  font-family: "Outfit", sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-normal);
}

.text-preset-1 {
  font-family: "Outfit", sans-serif;
  font-size: var(--font-size-600);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--letter-spacing-0);
  line-height: var(--line-height-120);
}

.text-preset-2 {
  font-family: "Outfit", sans-serif;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-400);
  letter-spacing: var(--letter-spacing-1);
  line-height: var(--line-height-140);
}

.container {
  margin: 0 auto;
  padding: 0 var(--spacer-200);
  width: min(100% - var(--spacer-200), 45rem);
}

.flex {
  display: flex;
}

@media screen and (min-width: 0) {
  .flex-direction-xs-row {
    flex-direction: row;
  }
  .flex-direction-xs-column {
    flex-direction: column;
  }
  .flex-direction-xs-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-direction-xs-column-reverse {
    flex-direction: column-reverse;
  }
  .flex-wrap-xs-wrap {
    flex-wrap: wrap;
  }
  .flex-wrap-xs-nowrap {
    flex-wrap: nowrap;
  }
  .flex-wrap-xs-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .justify-content-xs-flex-start {
    justify-content: flex-start;
  }
  .justify-content-xs-center {
    justify-content: center;
  }
  .justify-content-xs-flex-end {
    justify-content: flex-end;
  }
  .justify-content-xs-space-between {
    justify-content: space-between;
  }
  .justify-content-xs-space-around {
    justify-content: space-around;
  }
  .justify-content-xs-space-evenly {
    justify-content: space-evenly;
  }
  .align-items-xs-flex-start {
    align-items: flex-start;
  }
  .align-items-xs-center {
    align-items: center;
  }
  .align-items-xs-flex-end {
    align-items: flex-end;
  }
  .align-items-xs-stretch {
    align-items: stretch;
  }
  .align-items-xs-baseline {
    align-items: baseline;
  }
  .align-content-xs-flex-start {
    align-content: flex-start;
  }
  .align-content-xs-center {
    align-content: center;
  }
  .align-content-xs-flex-end {
    align-content: flex-end;
  }
  .align-content-xs-space-between {
    align-content: space-between;
  }
  .align-content-xs-space-around {
    align-content: space-around;
  }
  .align-content-xs-space-evenly {
    align-content: space-evenly;
  }
}
@media screen and (min-width: 30rem) {
  .flex-direction-sm-row {
    flex-direction: row;
  }
  .flex-direction-sm-column {
    flex-direction: column;
  }
  .flex-direction-sm-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-direction-sm-column-reverse {
    flex-direction: column-reverse;
  }
  .flex-wrap-sm-wrap {
    flex-wrap: wrap;
  }
  .flex-wrap-sm-nowrap {
    flex-wrap: nowrap;
  }
  .flex-wrap-sm-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .justify-content-sm-flex-start {
    justify-content: flex-start;
  }
  .justify-content-sm-center {
    justify-content: center;
  }
  .justify-content-sm-flex-end {
    justify-content: flex-end;
  }
  .justify-content-sm-space-between {
    justify-content: space-between;
  }
  .justify-content-sm-space-around {
    justify-content: space-around;
  }
  .justify-content-sm-space-evenly {
    justify-content: space-evenly;
  }
  .align-items-sm-flex-start {
    align-items: flex-start;
  }
  .align-items-sm-center {
    align-items: center;
  }
  .align-items-sm-flex-end {
    align-items: flex-end;
  }
  .align-items-sm-stretch {
    align-items: stretch;
  }
  .align-items-sm-baseline {
    align-items: baseline;
  }
  .align-content-sm-flex-start {
    align-content: flex-start;
  }
  .align-content-sm-center {
    align-content: center;
  }
  .align-content-sm-flex-end {
    align-content: flex-end;
  }
  .align-content-sm-space-between {
    align-content: space-between;
  }
  .align-content-sm-space-around {
    align-content: space-around;
  }
  .align-content-sm-space-evenly {
    align-content: space-evenly;
  }
}
@media screen and (min-width: 45rem) {
  .flex-direction-md-row {
    flex-direction: row;
  }
  .flex-direction-md-column {
    flex-direction: column;
  }
  .flex-direction-md-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-direction-md-column-reverse {
    flex-direction: column-reverse;
  }
  .flex-wrap-md-wrap {
    flex-wrap: wrap;
  }
  .flex-wrap-md-nowrap {
    flex-wrap: nowrap;
  }
  .flex-wrap-md-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .justify-content-md-flex-start {
    justify-content: flex-start;
  }
  .justify-content-md-center {
    justify-content: center;
  }
  .justify-content-md-flex-end {
    justify-content: flex-end;
  }
  .justify-content-md-space-between {
    justify-content: space-between;
  }
  .justify-content-md-space-around {
    justify-content: space-around;
  }
  .justify-content-md-space-evenly {
    justify-content: space-evenly;
  }
  .align-items-md-flex-start {
    align-items: flex-start;
  }
  .align-items-md-center {
    align-items: center;
  }
  .align-items-md-flex-end {
    align-items: flex-end;
  }
  .align-items-md-stretch {
    align-items: stretch;
  }
  .align-items-md-baseline {
    align-items: baseline;
  }
  .align-content-md-flex-start {
    align-content: flex-start;
  }
  .align-content-md-center {
    align-content: center;
  }
  .align-content-md-flex-end {
    align-content: flex-end;
  }
  .align-content-md-space-between {
    align-content: space-between;
  }
  .align-content-md-space-around {
    align-content: space-around;
  }
  .align-content-md-space-evenly {
    align-content: space-evenly;
  }
}
@media screen and (min-width: 60rem) {
  .flex-direction-lg-row {
    flex-direction: row;
  }
  .flex-direction-lg-column {
    flex-direction: column;
  }
  .flex-direction-lg-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-direction-lg-column-reverse {
    flex-direction: column-reverse;
  }
  .flex-wrap-lg-wrap {
    flex-wrap: wrap;
  }
  .flex-wrap-lg-nowrap {
    flex-wrap: nowrap;
  }
  .flex-wrap-lg-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .justify-content-lg-flex-start {
    justify-content: flex-start;
  }
  .justify-content-lg-center {
    justify-content: center;
  }
  .justify-content-lg-flex-end {
    justify-content: flex-end;
  }
  .justify-content-lg-space-between {
    justify-content: space-between;
  }
  .justify-content-lg-space-around {
    justify-content: space-around;
  }
  .justify-content-lg-space-evenly {
    justify-content: space-evenly;
  }
  .align-items-lg-flex-start {
    align-items: flex-start;
  }
  .align-items-lg-center {
    align-items: center;
  }
  .align-items-lg-flex-end {
    align-items: flex-end;
  }
  .align-items-lg-stretch {
    align-items: stretch;
  }
  .align-items-lg-baseline {
    align-items: baseline;
  }
  .align-content-lg-flex-start {
    align-content: flex-start;
  }
  .align-content-lg-center {
    align-content: center;
  }
  .align-content-lg-flex-end {
    align-content: flex-end;
  }
  .align-content-lg-space-between {
    align-content: space-between;
  }
  .align-content-lg-space-around {
    align-content: space-around;
  }
  .align-content-lg-space-evenly {
    align-content: space-evenly;
  }
}
@media screen and (min-width: 75rem) {
  .flex-direction-xl-row {
    flex-direction: row;
  }
  .flex-direction-xl-column {
    flex-direction: column;
  }
  .flex-direction-xl-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-direction-xl-column-reverse {
    flex-direction: column-reverse;
  }
  .flex-wrap-xl-wrap {
    flex-wrap: wrap;
  }
  .flex-wrap-xl-nowrap {
    flex-wrap: nowrap;
  }
  .flex-wrap-xl-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .justify-content-xl-flex-start {
    justify-content: flex-start;
  }
  .justify-content-xl-center {
    justify-content: center;
  }
  .justify-content-xl-flex-end {
    justify-content: flex-end;
  }
  .justify-content-xl-space-between {
    justify-content: space-between;
  }
  .justify-content-xl-space-around {
    justify-content: space-around;
  }
  .justify-content-xl-space-evenly {
    justify-content: space-evenly;
  }
  .align-items-xl-flex-start {
    align-items: flex-start;
  }
  .align-items-xl-center {
    align-items: center;
  }
  .align-items-xl-flex-end {
    align-items: flex-end;
  }
  .align-items-xl-stretch {
    align-items: stretch;
  }
  .align-items-xl-baseline {
    align-items: baseline;
  }
  .align-content-xl-flex-start {
    align-content: flex-start;
  }
  .align-content-xl-center {
    align-content: center;
  }
  .align-content-xl-flex-end {
    align-content: flex-end;
  }
  .align-content-xl-space-between {
    align-content: space-between;
  }
  .align-content-xl-space-around {
    align-content: space-around;
  }
  .align-content-xl-space-evenly {
    align-content: space-evenly;
  }
}
.grid {
  display: grid;
}

@media screen and (min-width: 0) {
  .rows-1-xs {
    grid-template-rows: repeat(1, 1fr);
  }
  .cols-1-xs {
    grid-template-columns: repeat(1, 1fr);
  }
  .row-1-xs {
    grid-row: span 1;
  }
  .col-1-xs {
    grid-column: span 1;
  }
  .rows-2-xs {
    grid-template-rows: repeat(2, 1fr);
  }
  .cols-2-xs {
    grid-template-columns: repeat(2, 1fr);
  }
  .row-2-xs {
    grid-row: span 2;
  }
  .col-2-xs {
    grid-column: span 2;
  }
  .rows-3-xs {
    grid-template-rows: repeat(3, 1fr);
  }
  .cols-3-xs {
    grid-template-columns: repeat(3, 1fr);
  }
  .row-3-xs {
    grid-row: span 3;
  }
  .col-3-xs {
    grid-column: span 3;
  }
  .rows-4-xs {
    grid-template-rows: repeat(4, 1fr);
  }
  .cols-4-xs {
    grid-template-columns: repeat(4, 1fr);
  }
  .row-4-xs {
    grid-row: span 4;
  }
  .col-4-xs {
    grid-column: span 4;
  }
  .rows-5-xs {
    grid-template-rows: repeat(5, 1fr);
  }
  .cols-5-xs {
    grid-template-columns: repeat(5, 1fr);
  }
  .row-5-xs {
    grid-row: span 5;
  }
  .col-5-xs {
    grid-column: span 5;
  }
  .rows-6-xs {
    grid-template-rows: repeat(6, 1fr);
  }
  .cols-6-xs {
    grid-template-columns: repeat(6, 1fr);
  }
  .row-6-xs {
    grid-row: span 6;
  }
  .col-6-xs {
    grid-column: span 6;
  }
  .rows-7-xs {
    grid-template-rows: repeat(7, 1fr);
  }
  .cols-7-xs {
    grid-template-columns: repeat(7, 1fr);
  }
  .row-7-xs {
    grid-row: span 7;
  }
  .col-7-xs {
    grid-column: span 7;
  }
  .rows-8-xs {
    grid-template-rows: repeat(8, 1fr);
  }
  .cols-8-xs {
    grid-template-columns: repeat(8, 1fr);
  }
  .row-8-xs {
    grid-row: span 8;
  }
  .col-8-xs {
    grid-column: span 8;
  }
  .rows-9-xs {
    grid-template-rows: repeat(9, 1fr);
  }
  .cols-9-xs {
    grid-template-columns: repeat(9, 1fr);
  }
  .row-9-xs {
    grid-row: span 9;
  }
  .col-9-xs {
    grid-column: span 9;
  }
  .rows-10-xs {
    grid-template-rows: repeat(10, 1fr);
  }
  .cols-10-xs {
    grid-template-columns: repeat(10, 1fr);
  }
  .row-10-xs {
    grid-row: span 10;
  }
  .col-10-xs {
    grid-column: span 10;
  }
  .rows-11-xs {
    grid-template-rows: repeat(11, 1fr);
  }
  .cols-11-xs {
    grid-template-columns: repeat(11, 1fr);
  }
  .row-11-xs {
    grid-row: span 11;
  }
  .col-11-xs {
    grid-column: span 11;
  }
  .rows-12-xs {
    grid-template-rows: repeat(12, 1fr);
  }
  .cols-12-xs {
    grid-template-columns: repeat(12, 1fr);
  }
  .row-12-xs {
    grid-row: span 12;
  }
  .col-12-xs {
    grid-column: span 12;
  }
}
@media screen and (min-width: 30rem) {
  .rows-1-sm {
    grid-template-rows: repeat(1, 1fr);
  }
  .cols-1-sm {
    grid-template-columns: repeat(1, 1fr);
  }
  .row-1-sm {
    grid-row: span 1;
  }
  .col-1-sm {
    grid-column: span 1;
  }
  .rows-2-sm {
    grid-template-rows: repeat(2, 1fr);
  }
  .cols-2-sm {
    grid-template-columns: repeat(2, 1fr);
  }
  .row-2-sm {
    grid-row: span 2;
  }
  .col-2-sm {
    grid-column: span 2;
  }
  .rows-3-sm {
    grid-template-rows: repeat(3, 1fr);
  }
  .cols-3-sm {
    grid-template-columns: repeat(3, 1fr);
  }
  .row-3-sm {
    grid-row: span 3;
  }
  .col-3-sm {
    grid-column: span 3;
  }
  .rows-4-sm {
    grid-template-rows: repeat(4, 1fr);
  }
  .cols-4-sm {
    grid-template-columns: repeat(4, 1fr);
  }
  .row-4-sm {
    grid-row: span 4;
  }
  .col-4-sm {
    grid-column: span 4;
  }
  .rows-5-sm {
    grid-template-rows: repeat(5, 1fr);
  }
  .cols-5-sm {
    grid-template-columns: repeat(5, 1fr);
  }
  .row-5-sm {
    grid-row: span 5;
  }
  .col-5-sm {
    grid-column: span 5;
  }
  .rows-6-sm {
    grid-template-rows: repeat(6, 1fr);
  }
  .cols-6-sm {
    grid-template-columns: repeat(6, 1fr);
  }
  .row-6-sm {
    grid-row: span 6;
  }
  .col-6-sm {
    grid-column: span 6;
  }
  .rows-7-sm {
    grid-template-rows: repeat(7, 1fr);
  }
  .cols-7-sm {
    grid-template-columns: repeat(7, 1fr);
  }
  .row-7-sm {
    grid-row: span 7;
  }
  .col-7-sm {
    grid-column: span 7;
  }
  .rows-8-sm {
    grid-template-rows: repeat(8, 1fr);
  }
  .cols-8-sm {
    grid-template-columns: repeat(8, 1fr);
  }
  .row-8-sm {
    grid-row: span 8;
  }
  .col-8-sm {
    grid-column: span 8;
  }
  .rows-9-sm {
    grid-template-rows: repeat(9, 1fr);
  }
  .cols-9-sm {
    grid-template-columns: repeat(9, 1fr);
  }
  .row-9-sm {
    grid-row: span 9;
  }
  .col-9-sm {
    grid-column: span 9;
  }
  .rows-10-sm {
    grid-template-rows: repeat(10, 1fr);
  }
  .cols-10-sm {
    grid-template-columns: repeat(10, 1fr);
  }
  .row-10-sm {
    grid-row: span 10;
  }
  .col-10-sm {
    grid-column: span 10;
  }
  .rows-11-sm {
    grid-template-rows: repeat(11, 1fr);
  }
  .cols-11-sm {
    grid-template-columns: repeat(11, 1fr);
  }
  .row-11-sm {
    grid-row: span 11;
  }
  .col-11-sm {
    grid-column: span 11;
  }
  .rows-12-sm {
    grid-template-rows: repeat(12, 1fr);
  }
  .cols-12-sm {
    grid-template-columns: repeat(12, 1fr);
  }
  .row-12-sm {
    grid-row: span 12;
  }
  .col-12-sm {
    grid-column: span 12;
  }
}
@media screen and (min-width: 45rem) {
  .rows-1-md {
    grid-template-rows: repeat(1, 1fr);
  }
  .cols-1-md {
    grid-template-columns: repeat(1, 1fr);
  }
  .row-1-md {
    grid-row: span 1;
  }
  .col-1-md {
    grid-column: span 1;
  }
  .rows-2-md {
    grid-template-rows: repeat(2, 1fr);
  }
  .cols-2-md {
    grid-template-columns: repeat(2, 1fr);
  }
  .row-2-md {
    grid-row: span 2;
  }
  .col-2-md {
    grid-column: span 2;
  }
  .rows-3-md {
    grid-template-rows: repeat(3, 1fr);
  }
  .cols-3-md {
    grid-template-columns: repeat(3, 1fr);
  }
  .row-3-md {
    grid-row: span 3;
  }
  .col-3-md {
    grid-column: span 3;
  }
  .rows-4-md {
    grid-template-rows: repeat(4, 1fr);
  }
  .cols-4-md {
    grid-template-columns: repeat(4, 1fr);
  }
  .row-4-md {
    grid-row: span 4;
  }
  .col-4-md {
    grid-column: span 4;
  }
  .rows-5-md {
    grid-template-rows: repeat(5, 1fr);
  }
  .cols-5-md {
    grid-template-columns: repeat(5, 1fr);
  }
  .row-5-md {
    grid-row: span 5;
  }
  .col-5-md {
    grid-column: span 5;
  }
  .rows-6-md {
    grid-template-rows: repeat(6, 1fr);
  }
  .cols-6-md {
    grid-template-columns: repeat(6, 1fr);
  }
  .row-6-md {
    grid-row: span 6;
  }
  .col-6-md {
    grid-column: span 6;
  }
  .rows-7-md {
    grid-template-rows: repeat(7, 1fr);
  }
  .cols-7-md {
    grid-template-columns: repeat(7, 1fr);
  }
  .row-7-md {
    grid-row: span 7;
  }
  .col-7-md {
    grid-column: span 7;
  }
  .rows-8-md {
    grid-template-rows: repeat(8, 1fr);
  }
  .cols-8-md {
    grid-template-columns: repeat(8, 1fr);
  }
  .row-8-md {
    grid-row: span 8;
  }
  .col-8-md {
    grid-column: span 8;
  }
  .rows-9-md {
    grid-template-rows: repeat(9, 1fr);
  }
  .cols-9-md {
    grid-template-columns: repeat(9, 1fr);
  }
  .row-9-md {
    grid-row: span 9;
  }
  .col-9-md {
    grid-column: span 9;
  }
  .rows-10-md {
    grid-template-rows: repeat(10, 1fr);
  }
  .cols-10-md {
    grid-template-columns: repeat(10, 1fr);
  }
  .row-10-md {
    grid-row: span 10;
  }
  .col-10-md {
    grid-column: span 10;
  }
  .rows-11-md {
    grid-template-rows: repeat(11, 1fr);
  }
  .cols-11-md {
    grid-template-columns: repeat(11, 1fr);
  }
  .row-11-md {
    grid-row: span 11;
  }
  .col-11-md {
    grid-column: span 11;
  }
  .rows-12-md {
    grid-template-rows: repeat(12, 1fr);
  }
  .cols-12-md {
    grid-template-columns: repeat(12, 1fr);
  }
  .row-12-md {
    grid-row: span 12;
  }
  .col-12-md {
    grid-column: span 12;
  }
}
@media screen and (min-width: 60rem) {
  .rows-1-lg {
    grid-template-rows: repeat(1, 1fr);
  }
  .cols-1-lg {
    grid-template-columns: repeat(1, 1fr);
  }
  .row-1-lg {
    grid-row: span 1;
  }
  .col-1-lg {
    grid-column: span 1;
  }
  .rows-2-lg {
    grid-template-rows: repeat(2, 1fr);
  }
  .cols-2-lg {
    grid-template-columns: repeat(2, 1fr);
  }
  .row-2-lg {
    grid-row: span 2;
  }
  .col-2-lg {
    grid-column: span 2;
  }
  .rows-3-lg {
    grid-template-rows: repeat(3, 1fr);
  }
  .cols-3-lg {
    grid-template-columns: repeat(3, 1fr);
  }
  .row-3-lg {
    grid-row: span 3;
  }
  .col-3-lg {
    grid-column: span 3;
  }
  .rows-4-lg {
    grid-template-rows: repeat(4, 1fr);
  }
  .cols-4-lg {
    grid-template-columns: repeat(4, 1fr);
  }
  .row-4-lg {
    grid-row: span 4;
  }
  .col-4-lg {
    grid-column: span 4;
  }
  .rows-5-lg {
    grid-template-rows: repeat(5, 1fr);
  }
  .cols-5-lg {
    grid-template-columns: repeat(5, 1fr);
  }
  .row-5-lg {
    grid-row: span 5;
  }
  .col-5-lg {
    grid-column: span 5;
  }
  .rows-6-lg {
    grid-template-rows: repeat(6, 1fr);
  }
  .cols-6-lg {
    grid-template-columns: repeat(6, 1fr);
  }
  .row-6-lg {
    grid-row: span 6;
  }
  .col-6-lg {
    grid-column: span 6;
  }
  .rows-7-lg {
    grid-template-rows: repeat(7, 1fr);
  }
  .cols-7-lg {
    grid-template-columns: repeat(7, 1fr);
  }
  .row-7-lg {
    grid-row: span 7;
  }
  .col-7-lg {
    grid-column: span 7;
  }
  .rows-8-lg {
    grid-template-rows: repeat(8, 1fr);
  }
  .cols-8-lg {
    grid-template-columns: repeat(8, 1fr);
  }
  .row-8-lg {
    grid-row: span 8;
  }
  .col-8-lg {
    grid-column: span 8;
  }
  .rows-9-lg {
    grid-template-rows: repeat(9, 1fr);
  }
  .cols-9-lg {
    grid-template-columns: repeat(9, 1fr);
  }
  .row-9-lg {
    grid-row: span 9;
  }
  .col-9-lg {
    grid-column: span 9;
  }
  .rows-10-lg {
    grid-template-rows: repeat(10, 1fr);
  }
  .cols-10-lg {
    grid-template-columns: repeat(10, 1fr);
  }
  .row-10-lg {
    grid-row: span 10;
  }
  .col-10-lg {
    grid-column: span 10;
  }
  .rows-11-lg {
    grid-template-rows: repeat(11, 1fr);
  }
  .cols-11-lg {
    grid-template-columns: repeat(11, 1fr);
  }
  .row-11-lg {
    grid-row: span 11;
  }
  .col-11-lg {
    grid-column: span 11;
  }
  .rows-12-lg {
    grid-template-rows: repeat(12, 1fr);
  }
  .cols-12-lg {
    grid-template-columns: repeat(12, 1fr);
  }
  .row-12-lg {
    grid-row: span 12;
  }
  .col-12-lg {
    grid-column: span 12;
  }
}
@media screen and (min-width: 75rem) {
  .rows-1-xl {
    grid-template-rows: repeat(1, 1fr);
  }
  .cols-1-xl {
    grid-template-columns: repeat(1, 1fr);
  }
  .row-1-xl {
    grid-row: span 1;
  }
  .col-1-xl {
    grid-column: span 1;
  }
  .rows-2-xl {
    grid-template-rows: repeat(2, 1fr);
  }
  .cols-2-xl {
    grid-template-columns: repeat(2, 1fr);
  }
  .row-2-xl {
    grid-row: span 2;
  }
  .col-2-xl {
    grid-column: span 2;
  }
  .rows-3-xl {
    grid-template-rows: repeat(3, 1fr);
  }
  .cols-3-xl {
    grid-template-columns: repeat(3, 1fr);
  }
  .row-3-xl {
    grid-row: span 3;
  }
  .col-3-xl {
    grid-column: span 3;
  }
  .rows-4-xl {
    grid-template-rows: repeat(4, 1fr);
  }
  .cols-4-xl {
    grid-template-columns: repeat(4, 1fr);
  }
  .row-4-xl {
    grid-row: span 4;
  }
  .col-4-xl {
    grid-column: span 4;
  }
  .rows-5-xl {
    grid-template-rows: repeat(5, 1fr);
  }
  .cols-5-xl {
    grid-template-columns: repeat(5, 1fr);
  }
  .row-5-xl {
    grid-row: span 5;
  }
  .col-5-xl {
    grid-column: span 5;
  }
  .rows-6-xl {
    grid-template-rows: repeat(6, 1fr);
  }
  .cols-6-xl {
    grid-template-columns: repeat(6, 1fr);
  }
  .row-6-xl {
    grid-row: span 6;
  }
  .col-6-xl {
    grid-column: span 6;
  }
  .rows-7-xl {
    grid-template-rows: repeat(7, 1fr);
  }
  .cols-7-xl {
    grid-template-columns: repeat(7, 1fr);
  }
  .row-7-xl {
    grid-row: span 7;
  }
  .col-7-xl {
    grid-column: span 7;
  }
  .rows-8-xl {
    grid-template-rows: repeat(8, 1fr);
  }
  .cols-8-xl {
    grid-template-columns: repeat(8, 1fr);
  }
  .row-8-xl {
    grid-row: span 8;
  }
  .col-8-xl {
    grid-column: span 8;
  }
  .rows-9-xl {
    grid-template-rows: repeat(9, 1fr);
  }
  .cols-9-xl {
    grid-template-columns: repeat(9, 1fr);
  }
  .row-9-xl {
    grid-row: span 9;
  }
  .col-9-xl {
    grid-column: span 9;
  }
  .rows-10-xl {
    grid-template-rows: repeat(10, 1fr);
  }
  .cols-10-xl {
    grid-template-columns: repeat(10, 1fr);
  }
  .row-10-xl {
    grid-row: span 10;
  }
  .col-10-xl {
    grid-column: span 10;
  }
  .rows-11-xl {
    grid-template-rows: repeat(11, 1fr);
  }
  .cols-11-xl {
    grid-template-columns: repeat(11, 1fr);
  }
  .row-11-xl {
    grid-row: span 11;
  }
  .col-11-xl {
    grid-column: span 11;
  }
  .rows-12-xl {
    grid-template-rows: repeat(12, 1fr);
  }
  .cols-12-xl {
    grid-template-columns: repeat(12, 1fr);
  }
  .row-12-xl {
    grid-row: span 12;
  }
  .col-12-xl {
    grid-column: span 12;
  }
}
@media screen and (min-width: 0) {
  .gap-xs-200 {
    gap: 1rem;
  }
  .m-xs-200 {
    margin: 1rem;
  }
  .p-xs-200 {
    padding: 1rem;
  }
  .gap-xs-300 {
    gap: 1.5rem;
  }
  .m-xs-300 {
    margin: 1.5rem;
  }
  .p-xs-300 {
    padding: 1.5rem;
  }
  .gap-xs-500 {
    gap: 2.5rem;
  }
  .m-xs-500 {
    margin: 2.5rem;
  }
  .p-xs-500 {
    padding: 2.5rem;
  }
}
.mt-xs-200 {
  margin-top: 1rem;
}

.mr-xs-200 {
  margin-right: 1rem;
}

.mb-xs-200 {
  margin-bottom: 1rem;
}

.ml-xs-200 {
  margin-left: 1rem;
}

.pt-xs-200 {
  padding-top: 1rem;
}

.pr-xs-200 {
  padding-right: 1rem;
}

.pb-xs-200 {
  padding-bottom: 1rem;
}

.pl-xs-200 {
  padding-left: 1rem;
}

.mt-xs-300 {
  margin-top: 1.5rem;
}

.mr-xs-300 {
  margin-right: 1.5rem;
}

.mb-xs-300 {
  margin-bottom: 1.5rem;
}

.ml-xs-300 {
  margin-left: 1.5rem;
}

.pt-xs-300 {
  padding-top: 1.5rem;
}

.pr-xs-300 {
  padding-right: 1.5rem;
}

.pb-xs-300 {
  padding-bottom: 1.5rem;
}

.pl-xs-300 {
  padding-left: 1.5rem;
}

.mt-xs-500 {
  margin-top: 2.5rem;
}

.mr-xs-500 {
  margin-right: 2.5rem;
}

.mb-xs-500 {
  margin-bottom: 2.5rem;
}

.ml-xs-500 {
  margin-left: 2.5rem;
}

.pt-xs-500 {
  padding-top: 2.5rem;
}

.pr-xs-500 {
  padding-right: 2.5rem;
}

.pb-xs-500 {
  padding-bottom: 2.5rem;
}

.pl-xs-500 {
  padding-left: 2.5rem;
}

.bg-primary-xs-slate-900 {
  background-color: hsl(218, 44%, 22%);
}

.text-primary-xs-slate-900 {
  color: hsl(218, 44%, 22%);
}

.bg-hover-primary-xs-slate-900:hover {
  background-color: hsl(218, 44%, 22%);
}

.text-hover-primary-xs-slate-900:hover {
  color: hsl(218, 44%, 22%);
}

.bg-active-primary-xs-slate-900:active {
  background-color: hsl(218, 44%, 22%);
}

.text-active-primary-xs-slate-900:active {
  color: hsl(218, 44%, 22%);
}

.bg-primary-xs-slate-500 {
  background-color: hsl(216, 15%, 48%);
}

.text-primary-xs-slate-500 {
  color: hsl(216, 15%, 48%);
}

.bg-hover-primary-xs-slate-500:hover {
  background-color: hsl(216, 15%, 48%);
}

.text-hover-primary-xs-slate-500:hover {
  color: hsl(216, 15%, 48%);
}

.bg-active-primary-xs-slate-500:active {
  background-color: hsl(216, 15%, 48%);
}

.text-active-primary-xs-slate-500:active {
  color: hsl(216, 15%, 48%);
}

.bg-primary-xs-slate-300 {
  background-color: hsl(212, 45%, 89%);
}

.text-primary-xs-slate-300 {
  color: hsl(212, 45%, 89%);
}

.bg-hover-primary-xs-slate-300:hover {
  background-color: hsl(212, 45%, 89%);
}

.text-hover-primary-xs-slate-300:hover {
  color: hsl(212, 45%, 89%);
}

.bg-active-primary-xs-slate-300:active {
  background-color: hsl(212, 45%, 89%);
}

.text-active-primary-xs-slate-300:active {
  color: hsl(212, 45%, 89%);
}

.bg-neutral-xs-white {
  background-color: hsl(0, 0%, 100%);
}

.text-neutral-xs-white {
  color: hsl(0, 0%, 100%);
}

.bg-hover-neutral-xs-white:hover {
  background-color: hsl(0, 0%, 100%);
}

.text-hover-neutral-xs-white:hover {
  color: hsl(0, 0%, 100%);
}

.bg-active-neutral-xs-white:active {
  background-color: hsl(0, 0%, 100%);
}

.text-active-neutral-xs-white:active {
  color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 30rem) {
  .gap-sm-200 {
    gap: 1rem;
  }
  .m-sm-200 {
    margin: 1rem;
  }
  .p-sm-200 {
    padding: 1rem;
  }
  .gap-sm-300 {
    gap: 1.5rem;
  }
  .m-sm-300 {
    margin: 1.5rem;
  }
  .p-sm-300 {
    padding: 1.5rem;
  }
  .gap-sm-500 {
    gap: 2.5rem;
  }
  .m-sm-500 {
    margin: 2.5rem;
  }
  .p-sm-500 {
    padding: 2.5rem;
  }
}
.mt-sm-200 {
  margin-top: 1rem;
}

.mr-sm-200 {
  margin-right: 1rem;
}

.mb-sm-200 {
  margin-bottom: 1rem;
}

.ml-sm-200 {
  margin-left: 1rem;
}

.pt-sm-200 {
  padding-top: 1rem;
}

.pr-sm-200 {
  padding-right: 1rem;
}

.pb-sm-200 {
  padding-bottom: 1rem;
}

.pl-sm-200 {
  padding-left: 1rem;
}

.mt-sm-300 {
  margin-top: 1.5rem;
}

.mr-sm-300 {
  margin-right: 1.5rem;
}

.mb-sm-300 {
  margin-bottom: 1.5rem;
}

.ml-sm-300 {
  margin-left: 1.5rem;
}

.pt-sm-300 {
  padding-top: 1.5rem;
}

.pr-sm-300 {
  padding-right: 1.5rem;
}

.pb-sm-300 {
  padding-bottom: 1.5rem;
}

.pl-sm-300 {
  padding-left: 1.5rem;
}

.mt-sm-500 {
  margin-top: 2.5rem;
}

.mr-sm-500 {
  margin-right: 2.5rem;
}

.mb-sm-500 {
  margin-bottom: 2.5rem;
}

.ml-sm-500 {
  margin-left: 2.5rem;
}

.pt-sm-500 {
  padding-top: 2.5rem;
}

.pr-sm-500 {
  padding-right: 2.5rem;
}

.pb-sm-500 {
  padding-bottom: 2.5rem;
}

.pl-sm-500 {
  padding-left: 2.5rem;
}

.bg-primary-sm-slate-900 {
  background-color: hsl(218, 44%, 22%);
}

.text-primary-sm-slate-900 {
  color: hsl(218, 44%, 22%);
}

.bg-hover-primary-sm-slate-900:hover {
  background-color: hsl(218, 44%, 22%);
}

.text-hover-primary-sm-slate-900:hover {
  color: hsl(218, 44%, 22%);
}

.bg-active-primary-sm-slate-900:active {
  background-color: hsl(218, 44%, 22%);
}

.text-active-primary-sm-slate-900:active {
  color: hsl(218, 44%, 22%);
}

.bg-primary-sm-slate-500 {
  background-color: hsl(216, 15%, 48%);
}

.text-primary-sm-slate-500 {
  color: hsl(216, 15%, 48%);
}

.bg-hover-primary-sm-slate-500:hover {
  background-color: hsl(216, 15%, 48%);
}

.text-hover-primary-sm-slate-500:hover {
  color: hsl(216, 15%, 48%);
}

.bg-active-primary-sm-slate-500:active {
  background-color: hsl(216, 15%, 48%);
}

.text-active-primary-sm-slate-500:active {
  color: hsl(216, 15%, 48%);
}

.bg-primary-sm-slate-300 {
  background-color: hsl(212, 45%, 89%);
}

.text-primary-sm-slate-300 {
  color: hsl(212, 45%, 89%);
}

.bg-hover-primary-sm-slate-300:hover {
  background-color: hsl(212, 45%, 89%);
}

.text-hover-primary-sm-slate-300:hover {
  color: hsl(212, 45%, 89%);
}

.bg-active-primary-sm-slate-300:active {
  background-color: hsl(212, 45%, 89%);
}

.text-active-primary-sm-slate-300:active {
  color: hsl(212, 45%, 89%);
}

.bg-neutral-sm-white {
  background-color: hsl(0, 0%, 100%);
}

.text-neutral-sm-white {
  color: hsl(0, 0%, 100%);
}

.bg-hover-neutral-sm-white:hover {
  background-color: hsl(0, 0%, 100%);
}

.text-hover-neutral-sm-white:hover {
  color: hsl(0, 0%, 100%);
}

.bg-active-neutral-sm-white:active {
  background-color: hsl(0, 0%, 100%);
}

.text-active-neutral-sm-white:active {
  color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 45rem) {
  .gap-md-200 {
    gap: 1rem;
  }
  .m-md-200 {
    margin: 1rem;
  }
  .p-md-200 {
    padding: 1rem;
  }
  .gap-md-300 {
    gap: 1.5rem;
  }
  .m-md-300 {
    margin: 1.5rem;
  }
  .p-md-300 {
    padding: 1.5rem;
  }
  .gap-md-500 {
    gap: 2.5rem;
  }
  .m-md-500 {
    margin: 2.5rem;
  }
  .p-md-500 {
    padding: 2.5rem;
  }
}
.mt-md-200 {
  margin-top: 1rem;
}

.mr-md-200 {
  margin-right: 1rem;
}

.mb-md-200 {
  margin-bottom: 1rem;
}

.ml-md-200 {
  margin-left: 1rem;
}

.pt-md-200 {
  padding-top: 1rem;
}

.pr-md-200 {
  padding-right: 1rem;
}

.pb-md-200 {
  padding-bottom: 1rem;
}

.pl-md-200 {
  padding-left: 1rem;
}

.mt-md-300 {
  margin-top: 1.5rem;
}

.mr-md-300 {
  margin-right: 1.5rem;
}

.mb-md-300 {
  margin-bottom: 1.5rem;
}

.ml-md-300 {
  margin-left: 1.5rem;
}

.pt-md-300 {
  padding-top: 1.5rem;
}

.pr-md-300 {
  padding-right: 1.5rem;
}

.pb-md-300 {
  padding-bottom: 1.5rem;
}

.pl-md-300 {
  padding-left: 1.5rem;
}

.mt-md-500 {
  margin-top: 2.5rem;
}

.mr-md-500 {
  margin-right: 2.5rem;
}

.mb-md-500 {
  margin-bottom: 2.5rem;
}

.ml-md-500 {
  margin-left: 2.5rem;
}

.pt-md-500 {
  padding-top: 2.5rem;
}

.pr-md-500 {
  padding-right: 2.5rem;
}

.pb-md-500 {
  padding-bottom: 2.5rem;
}

.pl-md-500 {
  padding-left: 2.5rem;
}

.bg-primary-md-slate-900 {
  background-color: hsl(218, 44%, 22%);
}

.text-primary-md-slate-900 {
  color: hsl(218, 44%, 22%);
}

.bg-hover-primary-md-slate-900:hover {
  background-color: hsl(218, 44%, 22%);
}

.text-hover-primary-md-slate-900:hover {
  color: hsl(218, 44%, 22%);
}

.bg-active-primary-md-slate-900:active {
  background-color: hsl(218, 44%, 22%);
}

.text-active-primary-md-slate-900:active {
  color: hsl(218, 44%, 22%);
}

.bg-primary-md-slate-500 {
  background-color: hsl(216, 15%, 48%);
}

.text-primary-md-slate-500 {
  color: hsl(216, 15%, 48%);
}

.bg-hover-primary-md-slate-500:hover {
  background-color: hsl(216, 15%, 48%);
}

.text-hover-primary-md-slate-500:hover {
  color: hsl(216, 15%, 48%);
}

.bg-active-primary-md-slate-500:active {
  background-color: hsl(216, 15%, 48%);
}

.text-active-primary-md-slate-500:active {
  color: hsl(216, 15%, 48%);
}

.bg-primary-md-slate-300 {
  background-color: hsl(212, 45%, 89%);
}

.text-primary-md-slate-300 {
  color: hsl(212, 45%, 89%);
}

.bg-hover-primary-md-slate-300:hover {
  background-color: hsl(212, 45%, 89%);
}

.text-hover-primary-md-slate-300:hover {
  color: hsl(212, 45%, 89%);
}

.bg-active-primary-md-slate-300:active {
  background-color: hsl(212, 45%, 89%);
}

.text-active-primary-md-slate-300:active {
  color: hsl(212, 45%, 89%);
}

.bg-neutral-md-white {
  background-color: hsl(0, 0%, 100%);
}

.text-neutral-md-white {
  color: hsl(0, 0%, 100%);
}

.bg-hover-neutral-md-white:hover {
  background-color: hsl(0, 0%, 100%);
}

.text-hover-neutral-md-white:hover {
  color: hsl(0, 0%, 100%);
}

.bg-active-neutral-md-white:active {
  background-color: hsl(0, 0%, 100%);
}

.text-active-neutral-md-white:active {
  color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 60rem) {
  .gap-lg-200 {
    gap: 1rem;
  }
  .m-lg-200 {
    margin: 1rem;
  }
  .p-lg-200 {
    padding: 1rem;
  }
  .gap-lg-300 {
    gap: 1.5rem;
  }
  .m-lg-300 {
    margin: 1.5rem;
  }
  .p-lg-300 {
    padding: 1.5rem;
  }
  .gap-lg-500 {
    gap: 2.5rem;
  }
  .m-lg-500 {
    margin: 2.5rem;
  }
  .p-lg-500 {
    padding: 2.5rem;
  }
}
.mt-lg-200 {
  margin-top: 1rem;
}

.mr-lg-200 {
  margin-right: 1rem;
}

.mb-lg-200 {
  margin-bottom: 1rem;
}

.ml-lg-200 {
  margin-left: 1rem;
}

.pt-lg-200 {
  padding-top: 1rem;
}

.pr-lg-200 {
  padding-right: 1rem;
}

.pb-lg-200 {
  padding-bottom: 1rem;
}

.pl-lg-200 {
  padding-left: 1rem;
}

.mt-lg-300 {
  margin-top: 1.5rem;
}

.mr-lg-300 {
  margin-right: 1.5rem;
}

.mb-lg-300 {
  margin-bottom: 1.5rem;
}

.ml-lg-300 {
  margin-left: 1.5rem;
}

.pt-lg-300 {
  padding-top: 1.5rem;
}

.pr-lg-300 {
  padding-right: 1.5rem;
}

.pb-lg-300 {
  padding-bottom: 1.5rem;
}

.pl-lg-300 {
  padding-left: 1.5rem;
}

.mt-lg-500 {
  margin-top: 2.5rem;
}

.mr-lg-500 {
  margin-right: 2.5rem;
}

.mb-lg-500 {
  margin-bottom: 2.5rem;
}

.ml-lg-500 {
  margin-left: 2.5rem;
}

.pt-lg-500 {
  padding-top: 2.5rem;
}

.pr-lg-500 {
  padding-right: 2.5rem;
}

.pb-lg-500 {
  padding-bottom: 2.5rem;
}

.pl-lg-500 {
  padding-left: 2.5rem;
}

.bg-primary-lg-slate-900 {
  background-color: hsl(218, 44%, 22%);
}

.text-primary-lg-slate-900 {
  color: hsl(218, 44%, 22%);
}

.bg-hover-primary-lg-slate-900:hover {
  background-color: hsl(218, 44%, 22%);
}

.text-hover-primary-lg-slate-900:hover {
  color: hsl(218, 44%, 22%);
}

.bg-active-primary-lg-slate-900:active {
  background-color: hsl(218, 44%, 22%);
}

.text-active-primary-lg-slate-900:active {
  color: hsl(218, 44%, 22%);
}

.bg-primary-lg-slate-500 {
  background-color: hsl(216, 15%, 48%);
}

.text-primary-lg-slate-500 {
  color: hsl(216, 15%, 48%);
}

.bg-hover-primary-lg-slate-500:hover {
  background-color: hsl(216, 15%, 48%);
}

.text-hover-primary-lg-slate-500:hover {
  color: hsl(216, 15%, 48%);
}

.bg-active-primary-lg-slate-500:active {
  background-color: hsl(216, 15%, 48%);
}

.text-active-primary-lg-slate-500:active {
  color: hsl(216, 15%, 48%);
}

.bg-primary-lg-slate-300 {
  background-color: hsl(212, 45%, 89%);
}

.text-primary-lg-slate-300 {
  color: hsl(212, 45%, 89%);
}

.bg-hover-primary-lg-slate-300:hover {
  background-color: hsl(212, 45%, 89%);
}

.text-hover-primary-lg-slate-300:hover {
  color: hsl(212, 45%, 89%);
}

.bg-active-primary-lg-slate-300:active {
  background-color: hsl(212, 45%, 89%);
}

.text-active-primary-lg-slate-300:active {
  color: hsl(212, 45%, 89%);
}

.bg-neutral-lg-white {
  background-color: hsl(0, 0%, 100%);
}

.text-neutral-lg-white {
  color: hsl(0, 0%, 100%);
}

.bg-hover-neutral-lg-white:hover {
  background-color: hsl(0, 0%, 100%);
}

.text-hover-neutral-lg-white:hover {
  color: hsl(0, 0%, 100%);
}

.bg-active-neutral-lg-white:active {
  background-color: hsl(0, 0%, 100%);
}

.text-active-neutral-lg-white:active {
  color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 75rem) {
  .gap-xl-200 {
    gap: 1rem;
  }
  .m-xl-200 {
    margin: 1rem;
  }
  .p-xl-200 {
    padding: 1rem;
  }
  .gap-xl-300 {
    gap: 1.5rem;
  }
  .m-xl-300 {
    margin: 1.5rem;
  }
  .p-xl-300 {
    padding: 1.5rem;
  }
  .gap-xl-500 {
    gap: 2.5rem;
  }
  .m-xl-500 {
    margin: 2.5rem;
  }
  .p-xl-500 {
    padding: 2.5rem;
  }
}
.mt-xl-200 {
  margin-top: 1rem;
}

.mr-xl-200 {
  margin-right: 1rem;
}

.mb-xl-200 {
  margin-bottom: 1rem;
}

.ml-xl-200 {
  margin-left: 1rem;
}

.pt-xl-200 {
  padding-top: 1rem;
}

.pr-xl-200 {
  padding-right: 1rem;
}

.pb-xl-200 {
  padding-bottom: 1rem;
}

.pl-xl-200 {
  padding-left: 1rem;
}

.mt-xl-300 {
  margin-top: 1.5rem;
}

.mr-xl-300 {
  margin-right: 1.5rem;
}

.mb-xl-300 {
  margin-bottom: 1.5rem;
}

.ml-xl-300 {
  margin-left: 1.5rem;
}

.pt-xl-300 {
  padding-top: 1.5rem;
}

.pr-xl-300 {
  padding-right: 1.5rem;
}

.pb-xl-300 {
  padding-bottom: 1.5rem;
}

.pl-xl-300 {
  padding-left: 1.5rem;
}

.mt-xl-500 {
  margin-top: 2.5rem;
}

.mr-xl-500 {
  margin-right: 2.5rem;
}

.mb-xl-500 {
  margin-bottom: 2.5rem;
}

.ml-xl-500 {
  margin-left: 2.5rem;
}

.pt-xl-500 {
  padding-top: 2.5rem;
}

.pr-xl-500 {
  padding-right: 2.5rem;
}

.pb-xl-500 {
  padding-bottom: 2.5rem;
}

.pl-xl-500 {
  padding-left: 2.5rem;
}

.bg-primary-xl-slate-900 {
  background-color: hsl(218, 44%, 22%);
}

.text-primary-xl-slate-900 {
  color: hsl(218, 44%, 22%);
}

.bg-hover-primary-xl-slate-900:hover {
  background-color: hsl(218, 44%, 22%);
}

.text-hover-primary-xl-slate-900:hover {
  color: hsl(218, 44%, 22%);
}

.bg-active-primary-xl-slate-900:active {
  background-color: hsl(218, 44%, 22%);
}

.text-active-primary-xl-slate-900:active {
  color: hsl(218, 44%, 22%);
}

.bg-primary-xl-slate-500 {
  background-color: hsl(216, 15%, 48%);
}

.text-primary-xl-slate-500 {
  color: hsl(216, 15%, 48%);
}

.bg-hover-primary-xl-slate-500:hover {
  background-color: hsl(216, 15%, 48%);
}

.text-hover-primary-xl-slate-500:hover {
  color: hsl(216, 15%, 48%);
}

.bg-active-primary-xl-slate-500:active {
  background-color: hsl(216, 15%, 48%);
}

.text-active-primary-xl-slate-500:active {
  color: hsl(216, 15%, 48%);
}

.bg-primary-xl-slate-300 {
  background-color: hsl(212, 45%, 89%);
}

.text-primary-xl-slate-300 {
  color: hsl(212, 45%, 89%);
}

.bg-hover-primary-xl-slate-300:hover {
  background-color: hsl(212, 45%, 89%);
}

.text-hover-primary-xl-slate-300:hover {
  color: hsl(212, 45%, 89%);
}

.bg-active-primary-xl-slate-300:active {
  background-color: hsl(212, 45%, 89%);
}

.text-active-primary-xl-slate-300:active {
  color: hsl(212, 45%, 89%);
}

.bg-neutral-xl-white {
  background-color: hsl(0, 0%, 100%);
}

.text-neutral-xl-white {
  color: hsl(0, 0%, 100%);
}

.bg-hover-neutral-xl-white:hover {
  background-color: hsl(0, 0%, 100%);
}

.text-hover-neutral-xl-white:hover {
  color: hsl(0, 0%, 100%);
}

.bg-active-neutral-xl-white:active {
  background-color: hsl(0, 0%, 100%);
}

.text-active-neutral-xl-white:active {
  color: hsl(0, 0%, 100%);
}

/*# sourceMappingURL=style.css.map */
