@use './abstracts/index' as abstracts;
@use './base/index' as base;
@use './utilities/index' as utilities;

.text-align-center {
  text-align: center;
}

html {
  height: 100%;
}

body {
  height: inherit;
}

#root {
  height: inherit;
  background-color: var(--color-primary-slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-code-component {
  flex-basis: 20rem;
}